.report-dialog-button {
  position: relative;
  left: 40px;
  top: 40px;
}

.report-dialog-spinner {
  position: relative;
  left: 120px;
  top: 10px;
}

.tags-select {
  position: relative;
  top: 8px;
}

.intensity {
  display: inline;
  width: 80px;
}
