.report-dialog-spinner {
  display: flex;
}

.processingSpinner {
  width: 80px;
  height: 80px;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .processingDialog {
    width: calc(100% - 60px);
    min-width: auto;
    font-size: 0.7em;
  }

  .processingSpinner {
    width: 60px;
    height: 60px;
  }
}
