#hint-bar {
  position: fixed;
  height: 50px;
  width: 69%;
  background-color: lightgray;
  padding: 5px 10px;
  border: 1px dashed;
  bottom: 0;
  left: 20%;
}
.message p {
  float: left;
  vertical-align: middle;
}
.message #coords p {
  float: right;
}
