.ui-dialog {
  left: 0 !important;
  top: 0 !important;
  position: absolute !important;
}

.ui-dialog .ui-dialog-content {
  padding: 0 !important;
  overflow: visible;
}

.ui-dialog-content:before, .ui-dialog-content:after {
  content: "";
  display: table
}

.ui-dialog-content:after {
  clear: both;
}
