<div class="ui-g header">
  <div class="ui-g-12">
    {{'dashboard.event.header'|translate}}
  </div>
</div>
<ng-container *ngIf="events.length > 0; then hasContent else noContent;"></ng-container>
<ng-template #hasContent>
  <div *ngFor="let event of events" class="ui-g item">
    <div class="ui-g-7 {{event.level.toString()}} text">
      {{event.message}}
    </div>
    <div class="ui-g-5 text muted text-right">
      {{event.device.name}}
    </div>
  </div>
</ng-template>
<ng-template #noContent>
  <div class="ui-g">
    <div class="ui-g-12">
      <span class="muted">{{'dashboard.event.noContent'|translate}}</span>
    </div>
  </div>
</ng-template>
