.text {
  font-size: 0.8em;
}

.danger {
  color: #f22;
}

.warning {
  color: #F5A623;
}

.item {
  box-shadow: 0 2px 4px #A6A8AB;
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 2px 5px;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .header {
    display: none;
  }
}
