.show-scale-input {
  position: absolute;
  display: flex;
  transform-origin: 20% 20%;
  transform: scale(0.7);
}

#scaleInput {
  background-color: burlywood;
}

.hide-scale-input {
  display: none;
}

.select {
  background-color: burlywood;
  width: 140px;
  padding-top: 10px;
}

.input {
  width: 100px;
}

.button {
  width: 10px;
  font-size: 17px;
}

.remove-button {
  background-color: #d92020;
}

.save-button {
  background-color: #77f977;
}

.md-button {
  width: 10px;
}
