.show-scale-input {
  position: absolute;
  display: flex;
  transform: scale(0.75);
}

#scaleInput {
  background-color: burlywood;
}

.hide-scale-input {
  display: none;
}

.select {
  background-color: burlywood;
  width: 140px;
  padding-top: 10px;
}

.input {
  width: 100px;
}

.submitButton{
  width: 10px;
}
.md-button {
  width: 10px;
}
