<button pButton class="ui-button-secondary"
        [ngClass]="{'active-tool' : active}" (click)="onClick()"
        pTooltip="{{'devices'|translate}}"
        icon="fa-list-ul">
</button>

<div id="remaining-devices-list" [@slideInOut]="menuState">
  <table cellpadding="10" cellspacing="0">
    <tr>
      <th colspan="2" class="remaining-devices-header">
        <h2 class="remaining-devices-heading">{{'device-list.listOfDevices'|translate}}</h2>
      </th>
      <th>
        <button class="device-list-deselect" (click)="deselectSink()" [disabled]="!chosenSink">
          <i class="material-icons">arrow_back</i>
        </button>
        <button class="device-list-delete" (click)="deleteSink()" [disabled]="!selectedDevice">
          <i class="material-icons">delete</i>
        </button>
        <button class="device-list-select" (click)="selectDevice()" [disabled]="selectedDevice">
          <i class="material-icons">touch_app</i>
        </button>
      </th>
    </tr>
    <tr>
      <th colspan="2" class="remaining-devices-subheader">
        <h3 class="remaining-devices-subheading">{{'device-list.searchByAllFields'|translate}}:</h3>
      </th>
      <th *ngIf="remainingDevices.length">
        <input autofocus autocomplete="off" type="text"
               id="deviceNameFilter" class="form-control"
               placeholder="{{'filter.findByAllFields'|translate}}" [(ngModel)]="queryString">
      </th>
      <th *ngIf="!remainingDevices.length">
        {{'device-list.noRemainingDevicesLeft'|translate}}
      </th>
    </tr>
    <tr>
      <th>{{'device.shortId'|translate}}</th>
      <th>{{'device.longId'|translate}}</th>
      <th>{{'device.name'|translate}}</th>

    </tr>
    <ng-container>
      <tr *ngFor="let device of remainingDevices | allFieldsFilter:queryString; let i = index"
          dnd-draggable [dragEnabled]="true" [dragData]="device" (onDragStart)="toggleMenu()"
          [dropZones]="['map-container']" (onDropSuccess)="placeDeviceOnMap(event)">
        <td>{{device.shortId}}</td>
        <td>{{device.longId}}</td>
        <td>{{device.name}}</td>
      </tr>
    </ng-container>
  </table>
</div>
