<div class="ui-g">
  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <div class="ui-message ui-messages-error ui-corner-all"
         *ngIf="deviceId.errors?.required && deviceId.touched && deviceId.dirty">
      <i class="fa fa-warning"></i>
      {{'device.id.required'|translate}}
    </div>
    <div class="ui-message ui-messages-error ui-corner-all"
         *ngIf="deviceId.errors?.properShortId && deviceId.touched && deviceId.dirty && !deviceId.errors?.required">
      <i class="fa fa-warning"></i>
      {{deviceId.errors?.properShortId|translate}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-2 ui-lg-2">
    <label for="deviceId">{{'device.id'|translate}} *</label>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-6">
    <input [appProperShortId]="deviceType" name="deviceId" required [appAutoFocus]="displayDialog" pInputText id="deviceId" [(ngModel)]="device.id" #deviceId="ngModel" />
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <div class="ui-message ui-messages-error ui-corner-all"
         *ngIf="minor.errors?.required && minor.touched && minor.dirty">
      <i class="fa fa-warning"></i>
      {{'device.minor.required'|translate}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-2 ui-lg-2">
    <label for="minor">{{'device.minor'|translate}} *</label>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-6">
    <input name="minor" required pInputText id="minor" [(ngModel)]="device.minor" #minor="ngModel"/>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-4 ui-lg-4">
  </div>
  <div class="ui-g-12 ui-md-2 ui-lg-2">
    <label for="macAddress">{{'device.macAddress'|translate}}</label>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-6">
    <input name="macAddress" pInputText id="macAddress" [(ngModel)]="device.macAddress" #macAddress="ngModel"/>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-4 ui-lg-4">
  </div>
  <div class="ui-g-12 ui-md-2 ui-lg-2">
    <label for="powerTransmition">{{'device.powerTransmition'|translate}}</label>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-6">
    <input name="powerTransmition" pInputText id="powerTransmition" [(ngModel)]="device.powerTransmition" #powerTransmition="ngModel"/>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-md-4 ui-lg-4">
    <div class="ui-message ui-messages-error ui-corner-all"
         *ngIf="nameInput.errors?.properName && nameInput.touched && nameInput.dirty">
      <i class="fa fa-warning"></i>
      {{nameInput.errors?.properName|translate}}
    </div>
  </div>
  <div class="ui-g-12 ui-md-2 ui-lg-2">
    <label for="deviceName">{{'device.name'|translate}}</label>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-6">
    <input appProperNameValidator name="name" pInputText id="deviceName" [(ngModel)]="device.name" #nameInput="ngModel"/>
  </div>
</div>
