.show-scale-input {
  position: absolute;
  display: flex;
  transform-origin: 20% 20%;
  transform: scale(0.7);
}

#scaleInput {
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  box-shadow: #999999 4px 3px;
}

.hide-scale-input {
  display: none;
}

.distance {
  width: 100px;
}

.measure {
  margin-top: 11px;
  width: 150px;
}

button {
  margin-left: 15px;
}
