<div class="">
  <form #changePasswordForm="ngForm" novalidate>
    <div class="ui-corner-all">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-offset-2 ui-lg-offset-2">
          <h4>
            <strong id="currentUser">{{currentUserName}}</strong>, here you can change your password.
          </h4>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-2 ui-lg-2">
          <label for="user-oldPassword-input">{{'user.oldPassword'|translate}}&nbsp;*</label>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input [appAutoFocus]="true" id="user-oldPassword-input" name="oldPassword" [(ngModel)]="model.oldPassword" #oldPassword="ngModel" required
                 type="password"
                 pInputText>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-4">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="oldPassword.errors?.required && oldPassword.touched && oldPassword.dirty">
            <i class="fa fa-warning"></i>
            {{'user.oldPassword.required'|translate}}
          </div>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-12 ui-md-2 ui-lg-2">
          <label for="user-newPassword-input">{{'user.newPassword'|translate}}&nbsp;*</label>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input (keyup)="validatePasswords()" id="user-newPassword-input" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel"
                 required type="password"
                 pInputText>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-4">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="newPassword.errors?.required && newPassword.touched && newPassword.dirty">
            <i class="fa fa-warning"></i>
            {{'user.newPassword.required'|translate}}
          </div>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-12 ui-md-2 ui-lg-2">
          <label for="user-newPasswordRepeat-input">{{'user.newPasswordRepeat'|translate}}&nbsp;*</label>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input (keyup)="validatePasswords()" id="user-newPasswordRepeat-input" name="newPasswordRepeat" [(ngModel)]="model.newPasswordRepeat"
                 #newPasswordRepeat="ngModel" required
                 type="password"
                 pInputText>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-4">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="newPasswordRepeat.errors?.required && newPasswordRepeat.touched && newPasswordRepeat.dirty">
            <i class="fa fa-warning"></i>
            {{'user.newPasswordRepeat.required'|translate}}
          </div>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-12 ui-message ui-messages-error ui-corner-all"
             *ngIf="!passwordsEqual">
          <i class="fa fa-warning"></i>
          {{'user.passwords.mustEqual'|translate}}
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-8">
          <button pButton
                  class="ui-button-secondary right"
                  id="save-changes"
                  (click)="save(changePasswordForm.valid)"
                  label="{{'save'|translate}}"
                  icon="fa-check" iconPos="left">
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
