<h1 [translate]="'publishedList.header'"></h1>

<div class="adding-section">
  <button [appHasPermission]="'MAP_CREATE'" md-raised-button id="new-publishedList-button" type="button"
          (click)="openDialog(null)">{{'add'|translate}}
  </button>
</div>

<ngx-datatable
  class="material"
  [rows]="rows"
  [rowHeight]="'auto'"
  [columnMode]="'force'">
  <ngx-datatable-column prop="floor">
    <template let-column="column" ngx-datatable-header-template>
      {{'publishedList.floor'|translate}}
    </template>
    <template let-value="value" ngx-datatable-cell-template>
      {{value.displayName}}
    </template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="tags">
    <template let-column="column" ngx-datatable-header-template>
      {{'publishedList.tags'|translate}}
    </template>
    <template let-value="value" ngx-datatable-cell-template>
      <span *ngIf="value.length === 0"><i><small>{{'publishedList.empty'|translate}}</small></i></span>
      <div *ngFor="let tag of value">{{tag.shortId}} - {{tag.longId}}</div>
    </template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="users">
    <template let-column="column" ngx-datatable-header-template>
      {{'publishedList.users'|translate}}
    </template>
    <template let-value="value" ngx-datatable-cell-template>
      <span *ngIf="value.length === 0"><i><small>{{'publishedList.empty'|translate}}</small></i></span>
      <div *ngFor="let user of value">{{user.username}}</div>
    </template>
  </ngx-datatable-column>

  <ngx-datatable-column>
    <template let-column="column" ngx-datatable-header-template>
      {{'th.actions'|translate}}
    </template>
    <template let-row="row" ngx-datatable-cell-template>
      <button md-tooltip="{{'go.to.map'|translate}}" md-mini-fab (click)="goToMap(row)" mdTooltipPosition="above">
        <i class="material-icons">map</i>
      </button>
      <button ngClass="analytics" md-tooltip="{{'analytics'|translate}}" [appHasPermission]="'FLOOR_READ'" (click)="goToAnalytics(row)" md-mini-fab mdTooltipPosition="above">
        <i class="material-icons">assessment</i>
      </button>
      <button md-tooltip="{{'go.to.mapEditor'|translate}}" [appHasPermission]="'FLOOR_READ'" (click)="goToEditor(row)" md-mini-fab mdTooltipPosition="above">
        <i class="material-icons">format_paint</i>
      </button>
      <button ngClass="editButton" md-tooltip="{{'edit'|translate}}" [appHasPermission]="'MAP_UPDATE'" (click)="edit(row)" md-mini-fab mdTooltipPosition="above">
        <i class="material-icons">mode_edit</i>
      </button>
      <button ngClass="deleteButton" md-tooltip="{{'remove'|translate}}" [appHasPermission]="'MAP_DELETE'" (click)="remove(row)" md-mini-fab mdTooltipPosition="above">
        <i class="material-icons">delete</i>
      </button>
    </template>
  </ngx-datatable-column>
</ngx-datatable>
