.map-container {
  overflow: hidden;
  background: #f4f4f4;
  height: calc(80vh - 3px);
  position: relative;
}

.map-container.public {
  height: 95vh;
  border: none;
  background-color: transparent;
}
