<p-dialog header="{{'publishedMap.details'}}"
          [draggable]="false" [(visible)]="displayDialog"
          [responsive]="true" showEffect="fade" [modal]="true"
          [contentStyle]="{ overflow: 'visible' }"
          [width]="800"
          dismissableMask="true">
  <form #publishedMapForm="ngForm" novalidate>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <div class="ui-message ui-messages-error ui-corner-all"
             *ngIf="complexInput.errors?.required && complexInput.touched && complexInput.dirty">
          <i class="fa fa-warning"></i>
          {{'publishedDialog.complex.required'|translate}}
        </div>
      </div>
      <div class="ui-g-12 ui-md-2 ui-lg-2"><label for="complex">{{'publishedList.complex'|translate}}</label></div>
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-dropdown autoWidth="false" [style]="{ width: '100%' }" required="true"
                    #complexInput="ngModel" name="complex" id="complex" [options]="complexes" [(ngModel)]="complex"
                    placeholder="{{'publishedList.complex.select'|translate}}" optionLabel="name"
                    (onChange)="complexChanged($event.value)">
        </p-dropdown>
      </div>
    </div>

    <div *ngIf="complex != null" class="ui-g">
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <div class="ui-message ui-messages-error ui-corner-all"
             *ngIf="buildingInput.errors?.required && buildingInput.touched && buildingInput.dirty">
          <i class="fa fa-warning"></i>
          {{'publishedDialog.building.required'|translate}}
        </div>
      </div>
      <div class="ui-g-12 ui-md-2 ui-lg-2"><label for="building">{{'publishedList.building'|translate}}</label></div>
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-dropdown autoWidth="false" [style]="{ width: '100%' }" required="true"
                    #buildingInput="ngModel" name="building" id="building" [options]="buildings" [(ngModel)]="building"
                    placeholder="{{'publishedList.building.select'|translate}}" optionLabel="name"
                    (onChange)="buildingChanged($event.value)">
        </p-dropdown>
      </div>
    </div>

    <div *ngIf="building != null" class="ui-g">
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <div class="ui-message ui-messages-error ui-corner-all"
             *ngIf="floorInput.errors?.required && floorInput.touched && floorInput.dirty">
          <i class="fa fa-warning"></i>
          {{'publishedDialog.floor.required'|translate}}
        </div>
      </div>
      <div class="ui-g-12 ui-md-2 ui-lg-2"><label for="floor">{{'publishedList.floor'|translate}}</label></div>
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-dropdown autoWidth="false" [style]="{ width: '100%' }" required="true"
                    #floorInput="ngModel" name="floor" id="floor" [options]="floors" [(ngModel)]="floor" dataKey="id"
                    placeholder="{{'publishedList.floor.select'|translate}}"
                    (onChange)="floorChanged($event.value)">
        </p-dropdown>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-offset-4 ui-lg-offset-4 ui-md-2 ui-lg-2"><label for="tags">{{'publishedList.tags'|translate}}</label></div>
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-multiSelect defaultLabel="{{'publishedList.tags.select'|translate}}" name="tags" id="tags" [options]="tags"
                       [(ngModel)]="selectedTags" optionLabel="shortId" [style]="{ width: '100%' }" dataKey="id"></p-multiSelect>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-offset-4 ui-lg-offset-4 ui-md-2 ui-lg-2"><label for="users">{{'publishedList.users'|translate}}</label></div>
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-multiSelect defaultLabel="{{'publishedList.users.select'|translate}}" name="users" id="users" [options]="users"
                       [(ngModel)]="selectedUsers" optionLabel="username" [style]="{ width: '100%' }" dataKey="id"></p-multiSelect>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12 ui-message ui-messages-error ui-corner-all"
           *ngIf="!!validationError">
        <i class="fa fa-warning"></i>
        {{validationError|translate}}
      </div>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="cancel()" label="{{'cancel'|translate}}"></button>
        <button type="button" pButton icon="fa-check" (click)="save(publishedMapForm.valid)" label="{{'save'|translate}}"></button>
      </div>
    </p-footer>
  </form>
</p-dialog>
