<form #publishedListForm="ngForm" novalidate>
  <div class="form-control">
    <md-select name="complexId" #complexId="ngModel" required [(ngModel)]="selectedComplexId" (change)="complexChanged($event.value)" placeholder="{{'publishedList.complex'|translate}}">
      <md-option ngClass="complexOption" *ngFor="let complex of complexes" [value]="complex.id">{{complex.name}}</md-option>
    </md-select>
    <md-hint ngClass="validation-errors" *ngIf="complexId.invalid && (complexId.dirty || complexId.touched) && complexId.errors?.required">{{'publishedDialog.complex.required'|translate}}</md-hint>
  </div>

  <div *ngIf="selectedComplexId != null" class="form-control">
    <md-select name="buildingId" #buildingId="ngModel" required [(ngModel)]="selectedBuildingId" (change)="buildingChanged($event.value)" placeholder="{{'publishedList.building'|translate}}">
      <md-option ngClass="buildingOption" *ngFor="let building of buildings" [value]="building.id">{{building.name}}</md-option>
    </md-select>
    <md-hint ngClass="validation-errors" *ngIf="buildingId.invalid && (buildingId.dirty || buildingId.touched) && buildingId.errors?.required">{{'publishedDialog.building.required'|translate}}</md-hint>
  </div>

  <div *ngIf="selectedBuildingId != null" class="form-control">
    <md-select name="floorId" #floorId="ngModel" required [(ngModel)]="selectedFloorId" (change)="floorChanged($event.value)" placeholder="{{'publishedList.floor'|translate}}">
      <md-option ngClass="floorOption" *ngFor="let floor of floors" [value]="floor.id">{{floor.level}}</md-option>
    </md-select>
    <md-hint ngClass="validation-errors" *ngIf="floorId.invalid && (floorId.dirty || floorId.touched) && floorId.errors?.required">{{'publishedDialog.floor.required'|translate}}</md-hint>
  </div>

  <div class="form-control">
    <angular2-multiselect
      [settings]="tagSelectSettings"
      [ngModelOptions]="{standalone: true}"
      [data]="tags"
      [(ngModel)]="selectedTags">
    </angular2-multiselect>
  </div>

  <div class="form-control">
    <angular2-multiselect
      [settings]="userSelectSettings"
      [ngModelOptions]="{standalone: true}"
      [data]="users"
      [(ngModel)]="selectedUsers">
    </angular2-multiselect>
  </div>

  <button pButton class="ui-button-secondary"
          id="save-publication"
          (click)="save(publishedListForm.valid)"
          label="{{'save'|translate}}"
          icon="fa fa-floppy-o" iconPos="left"
  ></button>
</form>
