<button pButton class="ui-button-secondary"
        [ngClass]="{'active-tool' : active}" (click)="emitToggleActive()"
        title="{{'sinks.one.header'|translate}}"
        icon="fa fa-sitemap" iconPos="left"
></button>
<app-first-step [floor]="floor" #firstStep (clearView)="wizardStopped($event)"
                (nextStepIndex)="wizardNextStep($event)"></app-first-step>
<app-second-step #secondStep (clearView)="wizardStopped($event)"
                 (nextStepIndex)="wizardNextStep($event)"></app-second-step>
<app-third-step #thirdStep (clearView)="wizardStopped($event)"
                (nextStepIndex)="wizardNextStep($event)"></app-third-step>

<ng-template>
  <div class="wizard-dialog" *ngIf="!wizardCompleted">
    <h3 class="wizard-not-complete">{{'wizard.configuration.not.complete'|translate}}</h3>
    <div class="dialog-action">
      <button pButton class="ui-button-secondary"
              id="back-toWizard"
              (click)="backToWizard()"
              label="{{'wizard.backToWizard'|translate}}"
      ></button>
      <button pButton class="ui-button-secondary"
              (click)="wizardStopped(true)"
              label="{{'stop.wizard'|translate}}"
      ></button>
    </div>
  </div>
  <div class="wizard-dialog" *ngIf="wizardCompleted">
    <h3 class="wizard-complete">{{'wizard.configuration.complete'|translate}}</h3>
    <div class="dialog-action">
      <button pButton class="ui-button-secondary"
              id="exit-dialog"
              (click)="dialogRef.close()"
      ></button>
    </div>
  </div>
</ng-template>

