<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton class="ui-button-secondary"
            id="open-dialog" [appHasPermission]="createPermission"
            (click)="openDialog()"
            label="{{'add'|translate}}"
            icon="fa fa-plus" iconPos="left">
    </button>
  </div>
</p-toolbar>
<div class="row">
  <div id="notVerifiedList" class="devices-list">
    <app-device-list #notVerified [verified]="false"></app-device-list>
  </div>

  <div id="verifiedList" class="devices-list verified">
    <app-device-list #verified [verified]="true"></app-device-list>
  </div>
</div>
