.device-list .ui-picklist-list {
  height: 400px;
}

.device-list .ui-picklist-listwrapper button, .device-list .ui-chkbox {
  display: inline-block;
  float: right;
}

.device-list .ui-chkbox {
  margin-top: 5px;
}

.device-list .device-details {
  font-size: 0.8em;
}

#hint {
  font-size: 0.8em;
}
