#device-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}

#device-arrows div {
  display: flex;
  justify-content: center;
}

#device-arrows div#hint {
  font-size: 0.7em;
}

#device-arrows i {
  margin: 0 8px;
}
