.device-list .ui-picklist-list {
  height: 400px;
}

.device-list .ui-picklist-listwrapper button, .device-list .ui-chkbox {
  display: inline-block;
  float: right;
}

.device-list .ui-chkbox {
  margin-top: 5px;
}

.device-list .device-details {
  font-size: 0.8em;
}

.terminal-response {
  width: 100%;
  height: 500px;
  max-height: 600px;
  overflow: scroll;
  color: #008800;
}

.terminal-super-active {
  color: #880000;
}

.terminal-super-deactivated {
  color: #000;
}

#hint {
  font-size: 0.8em;
}

.left {
  float: left;
}

.right {
  float: right;
}

#update-panel div {
  display: inline-block;
  vertical-align: middle;
}

#update-panel .ui-fileupload-buttonbar {
  vertical-align: middle;
  padding: 0;
}
