#scaleHintDiv {
  position: absolute;
  left: 0;
  height: 5%;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  background-color: burlywood;
  cursor: default;
}

#scaleHint {
  margin-top: 10px;
  float: right;
}
