.ui-orderlist .ui-orderlist-controls,
.ui-orderlist.ui-orderlist-responsive .ui-orderlist-controls
{
  display: none;
}
.ui-orderlist.ui-orderlist-responsive .ui-orderlist-list-container {
  width: 100%;
}
.tags-list-item, .tags-list-filter {
  display: inline-block;
  padding: 0 10px 0 10px;
}
