<p-confirmDialog></p-confirmDialog>
<p-toolbar>
  <div class="left">
    <div style="display:inline-block">{{'filter.by'|translate}} </div>
    <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilterValue" ></p-dropdown>
  </div>
</p-toolbar>
<p-orderList [value]="tags" [listStyle]="{'height':'800px'}"
             [responsive]="true" header="{{'tags.header'|translate}}"
             filterBy="{{selectedFilterValue}}"
             filterPlaceholder="{{'filter.by'|translate}} {{selectedFilterValue|translate}}"
             (onSelectionChange)="click($event.value[0])"
>
  <ng-template let-tag pTemplate="item">
    <div class="ui-helper-clearfix">
      <div style="display:inline-block">{{'id'|translate|uppercase}}: {{tag.id}}</div>
      <div style="display:inline-block">{{'name'|translate|uppercase}}: {{tag.name}}</div>
      <div style="display:inline-block">{{'complex'|translate|uppercase}}: {{tag.complex}}</div>
      <div style="display:inline-block">{{'building'|translate|uppercase}}: {{tag.building}}</div>
      <div style="display:inline-block">{{'floor'|translate|uppercase}}: {{tag.floor}}</div>
      <div style="display:inline-block">{{'group'|translate|uppercase}}: {{tag.group}}</div>
    </div>
  </ng-template>
</p-orderList>
