<p-dialog [draggable]="false" [(visible)]="displayDialog"
          [responsive]="true" showEffect="fade" [modal]="true"
          [contentStyle]="{ overflow: 'visible' }"
          [width]="800"
          dismissableMask="true" (onHide)="cancel()">
  <p-header>
    {{dialogTitle|translate}}
  </p-header>
  <form #publishedMapForm="ngForm" novalidate>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <div class="ui-message ui-messages-error ui-corner-all"
             *ngIf="complexesSelect.invalid && complexesSelect.touched && complexesSelect.dirty && complexesSelect.errors['minSelected']">
          <i class="fa fa-warning"></i>
          {{'publishedDialog.complex.required'|translate}}
        </div>
      </div>
      <div class="ui-g-12 ui-md-2 ui-lg-2"><label for="complexes">{{'publishedList.complex'|translate}}&nbsp;*</label></div>
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-multiSelect #complexesSelect="ngModel" defaultLabel="{{'publishedList.complex.select'|translate}}" name="complexes" id="complexes" [options]="complexes"
                       [(ngModel)]="selectedComplexes"  [style]="{ width: '100%' }" dataKey="id" optionLabel="name"
                       (onChange)="complexChanged()"
                        appMinSelected="1">
        </p-multiSelect>
      </div>
    </div>

    <div *ngIf="selectedComplexes.length > 0" class="ui-g">
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <div class="ui-message ui-messages-error ui-corner-all"
             *ngIf="buildingsSelect.invalid && buildingsSelect.touched && buildingsSelect.dirty && buildingsSelect.errors['minSelected']">
          <i class="fa fa-warning"></i>
          {{'publishedDialog.building.required'|translate}}
        </div>
      </div>
      <div class="ui-g-12 ui-md-2 ui-lg-2"><label for="buildings">{{'publishedList.building'|translate}}&nbsp;*</label></div>
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-multiSelect #buildingsSelect="ngModel" defaultLabel="{{'publishedList.building.select'|translate}}" name="buildings" id="buildings" [options]="buildings"
                       [(ngModel)]="selectedBuildings" [style]="{ width: '100%' }" dataKey="id" optionLabel="name"
                       (onChange)="buildingChanged()"
                       appMinSelected="1">
          <ng-template let-building pTemplate="item">
            <b>{{building.value.complex.name}}: </b> {{building.value.name}}
          </ng-template>
        </p-multiSelect>
      </div>
    </div>

    <div *ngIf="selectedBuildings.length > 0" class="ui-g">
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <div class="ui-message ui-messages-error ui-corner-all"
             *ngIf="floorsSelect.invalid && floorsSelect.touched && floorsSelect.dirty && floorsSelect.errors['minSelected']">
          <i class="fa fa-warning"></i>
          {{'publishedDialog.floor.required'|translate}}
        </div>
      </div>
      <div class="ui-g-12 ui-md-2 ui-lg-2"><label for="floors">{{'publishedList.floor'|translate}}&nbsp;*</label></div>
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-multiSelect #floorsSelect="ngModel" defaultLabel="{{'publishedList.floor.select'|translate}}" name="floors" id="floors" [options]="floors"
                       [(ngModel)]="selectedFloors" [style]="{ width: '100%' }"
                       dataKey="id"
                       appMinSelected="1">
          <ng-template let-floor pTemplate="item">
            <b>{{floor.value.building.name}}: </b> {{floor.value.level}}
          </ng-template>
        </p-multiSelect>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <div class="ui-message ui-messages-error ui-corner-all"
             *ngIf="tagsSelect && tagsSelect.invalid && tagsSelect.touched && tagsSelect.dirty && tagsSelect.errors['minSelected']">
          <i class="fa fa-warning"></i>
          {{'publishedDialog.tags.required'|translate}}
        </div>
      </div>
      <div class="ui-g-12 ui-md-2 ui-lg-2"><label for="tags">{{'publishedList.tags'|translate}}&nbsp;*</label></div>
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-multiSelect *ngIf="tagsLabel" appMinSelected="1"
                       [defaultLabel]="tagsLabel" name="tags" id="tags"
                       [options]="tagsToSelect" #tagsSelect="ngModel"
                       [(ngModel)]="selectedTags" [style]="{ width: '100%' }">
        </p-multiSelect>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <div class="ui-message ui-messages-error ui-corner-all"
             *ngIf="usersSelect.invalid && usersSelect.touched && usersSelect.dirty && usersSelect.errors['minSelected']">
          <i class="fa fa-warning"></i>
          {{'publishedDialog.users.required'|translate}}
        </div>
      </div>
      <div class="ui-g-12 ui-md-2 ui-lg-2"><label for="users">{{'publishedList.users'|translate}}&nbsp;*</label></div>
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-multiSelect #usersSelect="ngModel" defaultLabel="{{'publishedList.users.select'|translate}}" name="users" id="users" [options]="users"
                       [(ngModel)]="selectedUsers" optionLabel="username" [style]="{ width: '100%' }" dataKey="id"
                        appMinSelected="1">
        </p-multiSelect>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12 ui-message ui-messages-error ui-corner-all"
           *ngIf="!!validationError">
        <i class="fa fa-warning"></i>
        {{validationError|translate}}
      </div>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="cancel()" label="{{'cancel'|translate}}"></button>
        <button type="button" pButton icon="fa-check" (click)="save(publishedMapForm.valid)" label="{{'save'|translate}}"></button>
      </div>
    </p-footer>
  </form>
</p-dialog>
