<div id="map-container">
  <div id="map-canvas">
    <svg id="map"></svg>
  </div>
</div>
<div class="analytics-toolbar">
  <h2>Tools</h2>
  <ul class="tools-list">
    <li class="tool">
      <button
        [disabled]="playingAnimation"
        (click)="toggleSlider('radius')"
        md-mini-fab
        md-tooltip="Radius" mdTooltipPosition="right">
        <i class="material-icons">lens</i>
      </button>
      <md-slider [ngModel]="range"
                 (ngModelChange)="setSliderValue('radius', $event)"
                 class="analytics-slider"
                 *ngIf="radiusSliderView" min="15" max="50" step="1" value="20"></md-slider>
    </li>
    <li>
      <button
        [disabled]="playingAnimation"
        (click)="toggleSlider('opacity')"
        md-mini-fab
        md-tooltip="Opacity" mdTooltipPosition="right">
        <i class="material-icons">tonality</i>
      </button>
      <md-slider [ngModel]="range"
                 (ngModelChange)="setSliderValue('opacity', $event)"
                 class="analytics-slider"
                 *ngIf="opacitySliderView" min="0.1" max="1" step="0.1" value="0.5"></md-slider>
    </li>
    <li>
      <button
        [disabled]="playingAnimation"
        (click)="toggleSlider('blur')"
        md-mini-fab
        md-tooltip="Blur" mdTooltipPosition="right">
        <i class="material-icons">blur_on</i>
      </button>
      <md-slider [ngModel]="range"
                 (ngModelChange)="setSliderValue('blur', $event)"
                 class="analytics-slider"
                 *ngIf="blurSliderView" min="0.1" max="1" step="0.1" value="0.5"></md-slider>
    </li>
    <li>
      <button
        [disabled]="playingAnimation"
        (click)="toggleSlider('path')"
        md-mini-fab
        md-tooltip="Path length" mdTooltipPosition="right">
        <i class="material-icons">linear_scale</i>
      </button>
      <md-slider [ngModel]="range"
                 (ngModelChange)="setSliderValue('path', $event)"
                 class="analytics-slider"
                 *ngIf="pathSliderView" min="100" max="5000" step="100" value="400"></md-slider>
    </li>
    <li>
      <button
        [disabled]="playingAnimation"
        (click)="toggleSlider('heat')"
        md-mini-fab
        md-tooltip="Heat persistence" mdTooltipPosition="right">
        <i class="material-icons">brightness_7</i>
      </button>
      <md-slider [ngModel]="range"
                 (ngModelChange)="setSliderValue('heat', $event)"
                 class="analytics-slider"
                 *ngIf="heatSliderView" min="5" max="50" step="1" value="20"></md-slider>
    </li>
    <hr/>
    <li>
      <button
        (click)="toggleHeatAnimation()"
        [disabled]="playingAnimation"
        md-mini-fab
        md-tooltip="Show Heat Map" mdTooltipPosition="right">
        <i class="material-icons">play_arrow</i>
      </button>
      <button
        (click)="toggleHeatAnimation()"
        [disabled]="!playingAnimation"
        md-mini-fab
        md-tooltip="Stop Heat Map" mdTooltipPosition="right">
        <i class="material-icons">stop</i>
      </button>
    </li>
  </ul>
</div>
