.analytics-toolbar {
  position: absolute;
  float: right;
  left: 5px;
  width: 120px;
  height: 470px;
  top: 60px;
  background-color: burlywood;
}

ul {
  -webkit-padding-start: 0;
  text-align: center;
}

h2, h3, p {
  text-align: center;
}

li {
  list-style-type: none;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

li:hover {
  background-color: rgba(255, 215, 64, .2);
}
