<ng-container *ngIf="isUserLoggedIn; then logged_in else not_logged_in"></ng-container>
<ng-template #logged_in>
  <div *ngIf="!isDisplayedInIFrame" class="ui-g">
    <p-sidebar id="sidebar-menu" [(visible)]="displaySidebar" position="right"
               [baseZIndex]="10000">
      <div class="ui-g">
        <button pButton class="ui-button-secondary ui-g-12 ui-md-12 ui-lg-12 menu-button" [routerLink]="['./complexes']"
                (click)="displaySidebar = false" icon="fa-building fa-lg">
          <span>{{'complexes'|translate}}</span>
        </button>
      </div>
      <div class="ui-g">
        <button pButton class="ui-button-secondary ui-g-12 ui-md-4 ui-lg-4 menu-button" [routerLink]="['./sinks']"
                (click)="displaySidebar = false" icon="fa-share-alt fa-lg">
          <span>{{'sinks.header'|translate}}</span>
        </button>
        <button pButton class="ui-button-secondary ui-g-12 ui-md-4 ui-lg-4 menu-button" [routerLink]="['./anchors']"
                (click)="displaySidebar = false" icon="fa-circle-o-notch fa-lg">
          <span>{{'anchors.header'|translate}}</span>
        </button>
        <button pButton class="ui-button-secondary ui-g-12 ui-md-4 ui-lg-4 menu-button" [routerLink]="['./tags']"
                (click)="displaySidebar = false" icon="fa-tag fa-lg">
          <span>{{'tags.header'|translate}}</span>
        </button>
      </div>
      <div class="ui-g">
        <button pButton class="ui-button-secondary ui-g-12 ui-md-12 ui-lg-12 menu-button" [routerLink]="['./maps']"
                (click)="displaySidebar = false" icon="fa-map fa-lg">
          <span>{{'publishedMaps'|translate}}</span>
        </button>
      </div>
      <div class="ui-g">
        <button pButton class="ui-button-secondary ui-g-12 ui-md-6 ui-lg-6 menu-button"
                [routerLink]="['./permissionGroups']"
                (click)="displaySidebar = false" icon="fa-lock fa-lg">
          <span>{{'user.permissionGroups'|translate}}</span>
        </button>
        <button pButton class="ui-button-secondary ui-g-12 ui-md-6 ui-lg-6 menu-button" [routerLink]="['./users']"
                (click)="displaySidebar = false" icon="fa-users fa-lg">
          <span>{{'users.header'|translate}}</span>
        </button>
      </div>
      <div class="ui-g">
        <button pButton class="ui-button-secondary ui-g-12 ui-md-8 ui-lg-8 menu-button"
                [routerLink]="['./changePassword']"
                (click)="displaySidebar = false" icon="fa-key fa-lg">
          <span>{{'changePassword.header'|translate}}</span>
        </button>
        <button pButton class="ui-button-secondary ui-g-12 ui-md-4 ui-lg-4 menu-button" id="logout"
                [routerLink]="['./logout']"
                (click)="displaySidebar = false; isUserLoggedIn = false;" icon="fa-sign-out fa-lg">
          <span>{{'logout'|translate}}</span>
        </button>
      </div>
    </p-sidebar>
    <div class="ui-g-12 ui-md-11 ui-lg-11">
      <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>
    </div>
    <div class="ui-g-12 ui-md-1 ui-lg-1">
      <button pButton
              id="menu" (click)="displaySidebar = true"
              icon="fa-bars">
      </button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <p-growl [life]="2000"></p-growl>
</ng-template>
<ng-template #not_logged_in>
  <app-auth></app-auth>
</ng-template>

