<ng-container *ngIf="isUserLoggedIn; then logged_in else not_logged_in">

</ng-container>
<ng-template #logged_in>
<div fxFlexFill fxLayout="column">
  <header *ngIf="!isDisplayedInIFrame">
    <div fxFlex="100" fxLayoutAlign="end" >
      <button pButton class="ui-sidebar"
              id="menu"  (click)="displaySidebar = true"
              icon="fa fa-bars" iconPos="left">
      </button>
      <p-sidebar id="sidebar-menu" [(visible)]="displaySidebar" position="right">
        <button pButton class="ui-button-secondary"
                [routerLink]="['./complexes']"
                label="{{'complexes'|translate}}"
                icon="fa fa-building" iconPos="left">
        </button>
        <br/>
        <button pButton class="ui-button-secondary"
                [routerLink]="['./sinks']"
                label="{{'sinks.header'|translate}}"
                icon="fa fa-share-alt" iconPos="left">
        </button>
        <br/>
        <button pButton class="ui-button-secondary"
                [routerLink]="['./anchors']"
                label="{{'anchors.header'|translate}}"
                icon="fa fa-circle-o-notch" iconPos="left">
        </button>
        <br/>
        <button pButton class="ui-button-secondary"
                [routerLink]="['./tags']"
                label="{{'tags.header'|translate}}"
                icon="fa fa-tag" iconPos="left">

        </button>
        <br/>
        <button pButton class="ui-button-secondary"
                [routerLink]="['./maps']"
                label="{{'publishedMaps'|translate}}"
                icon="fa fa-map" iconPos="left">
        </button>
        <br/>
        <button pButton class="ui-button-secondary"
                [routerLink]="['./users']"
                label="{{'user.header'|translate}}"
                icon="fa fa-user" iconPos="left">
        </button>
        <br/>
        <button pButton class="ui-button-secondary"
                [routerLink]="['./permissionGroups']"
                label="{{'user.permissionGroups'|translate}}"
                icon="fa fa-lock" iconPos="left">
        </button>
        <br/>
        <button pButton class="ui-button-secondary"
                [routerLink]="['./changePassword']"
                label="{{'changePassword.header'|translate}}"
                icon="fa fa-key" iconPos="left">
        </button>
        <br/>
        <button pButton class="ui-button-secondary"
                id="logout" [routerLink]="['./logout']"
                label="{{'logout'|translate}}"
                icon="fa fa-sign-out" iconPos="left">
        </button>
        <br/>
      </p-sidebar>
    </div>
  </header>
  <div fxFlexFill>
    <router-outlet></router-outlet>
  </div>
</div>

</ng-template>

<ng-template #not_logged_in>
  <app-auth></app-auth>
</ng-template>
