<ng-container *ngIf="isUserLoggedIn || isDisplayedInIFrame; then logged_in else not_logged_in"></ng-container>
<ng-template #logged_in>
  <div class="ui-g">
    <div id="top-panel" class="ui-g-12">
      <div id="indoornavi-logo">
        <img alt="IndooNavi" src="assets/images/logo.png" />
      </div>
      <div id="breadcrumbs">
        <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>
      </div>
      <div id="mobile-header" class="muted">
        IndoorNavi
      </div>
        <div id="username" [routerLink]="['./changePassword']">
          <i class="fa fa-caret-right"></i>{{username}}
        </div>
      <div id="logout">
        <a [routerLink]="['./logout']"
           (click)="logout()">
          <span>{{'logout'|translate}}</span>
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="ui-g">
    <div id="left-panel" class="ui-g-2">
      <div *ngIf="!isDisplayedInIFrame">
        <div class="ui-g">
          <div class="ui-g-1">
            <i class="fa fa-home"></i>
          </div>
          <div class="ui-g-11">
            <a class="menu-link menu-link-bold" [routerLink]="['./dashboard']">{{'menu.dashboard'|translate}}</a>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-1">
            <i class="fa fa-map"></i>
          </div>
          <div class="ui-g-11">
            <a class="menu-link menu-link-bold">{{'menu.maps'|translate}}</a>
          </div>
        </div>
        <div class="ui-g" [appHasPermission]="'COMPLEX_READ'">
          <div class="ui-g-11 ui-g-offset-1">
            <a class="menu-link" [routerLink]="['./complexes']">{{'complexes'|translate}}</a>
          </div>
        </div>
        <div class="ui-g" [appHasPermission]="'PUBLICATION_UPDATE'">
          <div class="ui-g-11 ui-g-offset-1">
            <a class="menu-link" [routerLink]="['./publications']">{{'publishedMaps'|translate}}</a>
          </div>
        </div>
        <div class="ui-g" [appHasPermission]="'TAG_READ'">
          <div class="ui-g-11 ui-g-offset-1">
            <a class="menu-link" [routerLink]="['./tagsfinder']">{{'tags.finder'|translate}}</a>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-1">
            <i class="fa fa-server"></i>
          </div>
          <div class="ui-g-11">
            <span class="menu-link menu-link-bold">{{'menu.resources'|translate}}</span>
          </div>
        </div>
        <div class="ui-g" [appHasPermission]="'SINK_UPDATE'">
          <div class="ui-g-11 ui-g-offset-1">
            <a class="menu-link" [routerLink]="['./sinks']">{{'sinks.header'|translate}}</a>
          </div>
        </div>
        <div class="ui-g" [appHasPermission]="'ANCHOR_UPDATE'">
          <div class="ui-g-11 ui-g-offset-1">
            <a class="menu-link" [routerLink]="['./anchors']">{{'anchors.header'|translate}}</a>
          </div>
        </div>
        <div class="ui-g" [appHasPermission]="'TAG_UPDATE'">
          <div class="ui-g-11 ui-g-offset-1">
            <a class="menu-link" [routerLink]="['./tags']">{{'tags.header'|translate}}</a>
          </div>
        </div>
        <div class="ui-g" [appHasPermission]="'BLUETOOTH_UPDATE'">
          <div class="ui-g-11 ui-g-offset-1">
            <a class="menu-link" [routerLink]="['./bluetooth']">{{'bluetooth.header'|translate}}</a>
          </div>
        </div>
        <div class="ui-g" [appHasPermission]="'USER_UPDATE'">
          <div class="ui-g-11 ui-g-offset-1">
            <a class="menu-link" [routerLink]="['./users']">{{'users.header'|translate}}</a>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-1">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="ui-g-11">
            <span class="menu-link menu-link-bold">{{'menu.preferences'|translate}}</span>
          </div>
        </div>
        <div class="ui-g" [appHasPermission]="'PERMISSION_GROUP_UPDATE'">
          <div class="ui-g-11 ui-g-offset-1">
            <a class="menu-link" [routerLink]="['./permissionGroups']">{{'user.permissionGroups'|translate}}</a>
          </div>
        </div>
      </div>
    </div>
    <div id="content-panel" class="ui-g-10">
      <router-outlet></router-outlet>
    </div>
    <div class="ui-g-12" id="mobile-menu">
      <div class="ui-g">
        <div class="ui-g-4 first" [routerLink]="['./dashboard']">
          <i class="fa fa-home"></i>
          <span class="muted">{{'menu.dashboard'|translate}}</span>
        </div>
        <div class="ui-g-4" (click)="goToMap()">
          <i class="fa fa-map"></i>
          <span class="muted">{{'map'|translate}}</span>
        </div>
        <div class="ui-g-4 last" (click)="goToHeatMap()">
          <i class="fa fa-fire"></i>
          <span class="muted">{{'heatMap'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
  <p-growl [life]="2500"></p-growl>
  <app-footer></app-footer>
</ng-template>
<ng-template #not_logged_in>
  <app-auth></app-auth>
</ng-template>

