#accept-buttons {
  display: none;
  position: absolute;
}
#accept-buttons.visible {
  display: inline-block;
}
.decision {
  position: relative;
  top: 25px;
}
.positive {
  left: -39px;
}
.negative {
  left: -34px;
}
