<div *ngIf="floor">
  <app-actionbar [floor]="floor" *ngIf="imageUploaded"></app-actionbar>
  <app-toolbar [floor]="floor" (selectedTool)="setTool($event)" *ngIf="imageUploaded"></app-toolbar>
  <app-map-viewer [floor]="floor" *ngIf="imageUploaded"></app-map-viewer>
  <app-hint-bar [tool]="activeTool" *ngIf="imageUploaded"></app-hint-bar>
  <app-map-uploader [appHasPermission]="'FLOOR_UPDATE'" [floor]="floor" *ngIf="!imageUploaded"
                    (imageUploaded)="onImageUploaded($event)"></app-map-uploader>
</div>
