<div *ngIf="floor">
  <ng-container *ngIf="imageUploaded; then uploaded else not_uploaded"></ng-container>

  <ng-template #uploaded>
    <app-toolbar [floor]="floor"></app-toolbar>
    <app-map #map [floor]="floor">
      <app-area-details [floor]="floor" ></app-area-details>
      <app-scale-input></app-scale-input>
      <app-accept-buttons></app-accept-buttons>
      <app-device-placer-list></app-device-placer-list>
      <app-layers-list></app-layers-list>
    </app-map>
    <p-contextMenu #contextMenu appendTo="body" [model]="contextMenuItems"></p-contextMenu>
    <app-hint-bar></app-hint-bar>
  </ng-template>

  <ng-template #not_uploaded>
    <app-map-uploader [appHasPermission]="'FLOOR_UPDATE'" [floor]="floor"
                      (imageUploaded)="onImageUploaded($event)"></app-map-uploader>
  </ng-template>
</div>
