<div *ngIf="floor">
  <ng-container *ngIf="imageUploaded; then uploaded else not_uploaded"></ng-container>

  <ng-template #uploaded>
    <app-actionbar [floor]="floor"></app-actionbar>
    <app-toolbar [floor]="floor"></app-toolbar>
    <app-map-viewer [floor]="floor"></app-map-viewer>
    <app-hint-bar></app-hint-bar>
  </ng-template>

  <ng-template #not_uploaded>
    <app-map-uploader [appHasPermission]="'FLOOR_UPDATE'" [floor]="floor"
                      (imageUploaded)="onImageUploaded($event)"></app-map-uploader>
  </ng-template>
</div>
