<p-toolbar [appHasPermission]="'FLOOR_CREATE'">
  <div class="ui-toolbar-group-left">
    <button pButton class="ui-button-secondary"
            id="add-floor"
            (click)="openDialog()"
            label="{{'add'|translate}}"
            icon="fa-plus">
    </button>
  </div>
</p-toolbar>

<p-dataTable [loading]="loading" [value]="building.floors" styleClass="auto">
  <p-column field="level" header="{{'floor.level'|translate}}"></p-column>
  <p-column field="name" header="{{'floor.name'|translate}}"></p-column>
  <p-column header="{{'th.actions'|translate}}" styleClass="col-button">
    <ng-template let-floor="rowData" let-i="rowIndex" pTemplate="body">
      <button [appHasPermission]="'PUBLICATION_READ'"
              pTooltip="{{'go.to.map'|translate}}"
              type="button" pButton (click)="goToMap(floor)" icon="fa-eye">
      </button>
      <button [appHasPermission]="'PUBLICATION_READ'"
              pTooltip="{{'go.to.analytics'|translate}}"
              type="button" pButton (click)="goToHeatMap(floor)" icon="fa-area-chart">
      </button>
      <button [appHasPermission]="'FLOOR_UPDATE'"
              pTooltip="{{'go.to.mapEditor'|translate}}" type="button" pButton
              (click)="goToEditor(floor)" icon="fa-pencil">
      </button>
      <button
        [appHasPermission]="'FLOOR_UPDATE'"
        pTooltip="{{'edit'|translate}}" type="button" pButton
        (click)="openDialog(floor)" class="ui-button-info" icon="fa-edit">
      </button>
      <button
        [appHasPermission]="'FLOOR_DELETE'"
        pTooltip="{{'remove'|translate}}" type="button" pButton (click)="remove(i)" class="ui-button-danger"
        icon="fa-trash">
      </button>
    </ng-template>
  </p-column>
</p-dataTable>

<p-dialog [draggable]="false" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [contentStyle]="{ overflow: 'visible' }"
          [width]="800"
          dismissableMask="true" (onHide)="cancel()">
  <p-header>
    {{dialogTitle|translate}}
  </p-header>
  <form #floorForm="ngForm" novalidate *ngIf="floor">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <div class="ui-message ui-messages-error ui-corner-all"
             *ngIf="nameInput.errors?.properName && nameInput.touched && nameInput.dirty">
          <i class="fa fa-warning"></i>
          {{nameInput.errors?.properName|translate}}
        </div>
      </div>
      <div class="ui-g-12 ui-md-3 ui-lg-3">
        <label for="name">{{'floor.name'|translate}}</label>
      </div>
      <div class="ui-g-12 ui-md-5 ui-lg-5">
        <input appProperNameValidator name="name" [appAutoFocus]="displayDialog" pInputText id="name" [(ngModel)]="floor.name" #nameInput="ngModel"/>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <div class="ui-message ui-messages-error ui-corner-all"
             *ngIf="levelInput.errors?.required && levelInput.touched && levelInput.dirty">
          <i class="fa fa-warning"></i>
          {{'floor.level.required'|translate}}
        </div>
      </div>
      <div class="ui-g-12 ui-md-3 ui-lg-3">
        <label for="level">{{'floor.level'|translate}}&nbsp;*</label>
      </div>
      <div class="ui-g-12 ui-md-5 ui-lg-5">
        <input required name="level" type="number" pInputText id="level" [(ngModel)]="floor.level" #levelInput="ngModel"/>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="cancel()" label="{{'cancel'|translate}}"></button>
        <button type="submit" pButton icon="fa-check" (click)="save(floorForm.valid)" label="{{'save'|translate}}"></button>
      </div>
    </p-footer>
  </form>
</p-dialog>

<p-confirmDialog icon="fa fa-question-circle" width="425"></p-confirmDialog>
