<form #floorForm="ngForm" novalidate>
  <div>
    <md-input-container class="example-full-width">
      <input id="floor-name-input" name="name" [(ngModel)]="floor.name" #name="ngModel" type="text"
             mdInput
             placeholder="{{'floor.name'|translate}}">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input id="floor-level-input" pattern="\-?[\d]+" name="level" [(ngModel)]="floor.level" #level="ngModel" required type="text"
             mdInput
             placeholder="{{'floor.level'|translate}}">
      <md-hint>
        <span  [hidden]="level.valid || (level.pristine && !floorForm.submitted)">
          <small *ngIf="floorForm.hasError('required', ['level'])">
            {{'floor.level.required'|translate}}
          </small>
          <small *ngIf="floorForm.hasError('pattern', ['level'])">
            {{'floor.level.mustBeNumber'|translate}}
          </small>
        </span>
      </md-hint>
    </md-input-container>
  </div>
  <button id="floor-save-button" type="submit" md-raised-button (click)="save(floorForm.valid)">
    {{'save'|translate}}
  </button>
</form>
