<div *ngIf="showAnchorsList" id="remaining-anchors-list-wrapper">
  <div>
    <span *ngIf="!anchors || !sinks ">{{'placer.noConnectedDevices'|translate}}</span>
    <table *ngIf="anchors && sinks" cellpadding="10" cellspacing="0">
      <tr>
        <th colspan="2" class="remaining-devices-header">
          <h3 class="remaining-devices-heading">{{'placer.remainingDevices'|translate}}</h3>
        </th>
        <th *ngIf="remainingAnchors.size()">
          <input mdInput autofocus autocomplete="off" type="text"
                 id="anchorNameFilter" class="form-control"
                 placeholder="{{'filter.findByName'|translate}}" [(ngModel)]="name">
        </th>
        <th *ngIf="!remainingAnchors.size()">
          {{'placer.noRemainingDevicesLeft'|translate}}
        </th>
      </tr>
      <tr>
        <th>{{'device.shortId'|translate}}</th>
        <th>{{'device.longId'|translate}}</th>
        <th>{{'device.name'|translate}}</th>
      </tr>
      <ng-container *ngIf="!chosenSink">
        <tr *ngFor="let sink of sinks | remainingDevicesFilter:name; let i = index"
            dnd-draggable [dragEnabled]="true" [dragData]="sink"
            [dropZones]="['map-container']" (onDropSuccess)="placeAnchorOnMap(event)">
          <td id="shortId-{{sink.shortId}}">{{sink.shortId}}</td>
          <td id="longId-{{sink.shortId}}">{{sink.longId}}</td>
          <td id="name-{{sink.shortId}}">{{sink.name}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="chosenSink">
        <tr *ngFor="let anchor of anchors | remainingDevicesFilter:name; let i = index"
            dnd-draggable [dragEnabled]="true" [dragData]="anchor"
            [dropZones]="['map-container']" (onDropSuccess)="placeAnchorOnMap(event)">
          <td id="shortId-{{anchor.shortId}}">{{anchor.shortId}}</td>
          <td id="longId-{{anchor.shortId}}">{{anchor.longId}}</td>
          <td id="name-{{anchor.shortId}}">{{anchor.name}}</td>
      </tr>
      </ng-container>
    </table>
  </div>
</div>
