<p-toolbar>
  <div class="left">
    <button pButton class="ui-button-secondary"
            id="open-dialog" [appHasPermission]="createPermission"
            (click)="openDialog()"
            label="{{'add'|translate}}"
            icon="fa-plus" iconPos="left">
    </button>
  </div>
</p-toolbar>

<p-pickList class="device-list" [source]="notVerified" [target]="verified" dragdrop="true" [responsive]="true"
            sourceHeader="{{'device.notVerified'|translate}}" targetHeader="{{'device.verified'|translate}}"
            [showSourceControls]="false" [showTargetControls]="false" filterBy="major"
            sourceFilterPlaceholder="{{'bluetooth.searchByMajor'|translate}}" targetFilterPlaceholder="{{'bluetooth.searchByMajor'|translate}}"
            (onMoveToTarget)="onItemMoved($event.items)" (onMoveToSource)="onItemMoved($event.items)">
  <ng-template let-bluetooth pTemplate="item">
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div [ngClass]="{'ui-g-9 ui-md-9 ui-lg-9': !bluetooth.floorId, 'ui-g-5 ui-md-5 ui-lg-5': bluetooth.floorId}" class="device-details">
          <div><b>{{'bluetooth.major'|translate}}:</b> {{bluetooth['major']}}</div>
          <div><b>{{'bluetooth.minor'|translate}}:</b> {{bluetooth['minor']}}</div>
          <div><b>{{'device.macAddress'|translate}}:</b> {{bluetooth['macAddress']}}</div>
          <div><b>{{'bluetooth.powerTransmition'|translate}}:</b> {{bluetooth['powerTransmition']}}</div>
          <div><b>{{'bluetooth.name'|translate}}:</b> {{bluetooth['name']}}</div>

        </div>
        <div *ngIf="bluetooth.floorId" class="ui-g-4 ui-md-4 ui-lg-4 device-published-details">
          <div><b>{{'device.publishedOnFloorWithId'|translate}}:</b> {{bluetooth.floorId}}</div>
        </div>
        <div class="ui-g-3 ui-md-3 ui-lg-3">
          <button
            [appHasPermission]="editPermission"
            pTooltip="{{'edit'|translate}}" type="button" pButton (click)="openDialog(bluetooth)" icon="fa-edit" class="ui-button-info">
          </button>
          <button
            [appHasPermission]="deletePermission"
            pTooltip="{{'remove'|translate}}" type="button" pButton (click)="remove(bluetooth)" icon="fa-trash" class="ui-button-danger">
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</p-pickList>

<p-dialog [draggable]="false" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [contentStyle]="{ overflow: 'visible' }"
          [width]="800"
          dismissableMask="true" (onHide)="cancel()">
  <p-header>
    {{dialogTitle|translate}}
  </p-header>
  <form #bluetoothForm="ngForm" novalidate>

    <div *ngIf="bluetooth">

      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-4">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="major.errors?.required && major.touched && major.dirty">
            <i class="fa fa-warning"></i>
            {{'bluetooth.major.required'|translate}}
          </div>
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="major.errors?.properShortId && major.touched && major.dirty && !major.errors?.required">
            <i class="fa fa-warning"></i>
            {{major.errors?.properShortId|translate}}
          </div>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
          <label for="major">{{'bluetooth.major'|translate}} *</label>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input [appProperShortId]="deviceType + 'major'" name="major" required [appAutoFocus]="displayDialog" pInputText id="major" [(ngModel)]="bluetooth.major" #major="ngModel" />
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-4">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="minor.errors?.required && minor.touched && minor.dirty">
            <i class="fa fa-warning"></i>
            {{'bluetooth.minor.required'|translate}}
          </div>
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="minor.errors?.properShortId && minor.touched && minor.dirty && !minor.errors?.required">
            <i class="fa fa-warning"></i>
            {{minor.errors?.properShortId|translate}}
          </div>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
          <label for="minor">{{'bluetooth.minor'|translate}} *</label>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input [appProperShortId]="deviceType" name="minor" required pInputText id="minor" [(ngModel)]="bluetooth.minor" #minor="ngModel"/>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-4">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="macAddress.errors?.properMacAddress && macAddress.touched && macAddress.dirty">
            <i class="fa fa-warning"></i>
            {{macAddress.errors?.properMacAddress|translate}}
          </div>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
          <label for="macAddress">{{'device.macAddress'|translate}}</label>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <p-inputMask
            appProperMacAddress
            [autoClear]="false"
            mask="**:**:**:**:**:**"
            name="macAddress"
            id="macAddress"
            [(ngModel)]="bluetooth.macAddress"
            #macAddress="ngModel"></p-inputMask>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-4">
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
          <label for="powerTransmition">{{'bluetooth.powerTransmition'|translate}}</label>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <p-dropdown [options]="power"
                      [(ngModel)]="bluetooth.powerTransmition"
                      [style]="{ width: '100%' }"
                      id="powerTransmition"
                      placeholder="{{'bluetooth.selectPower'|translate}}"
                      name="powerTransmition"
                      #powerTransmition="ngModel">
          </p-dropdown>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-4">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="nameInput.errors?.properName && nameInput.touched && nameInput.dirty">
            <i class="fa fa-warning"></i>
            {{nameInput.errors?.properName|translate}}
          </div>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2">
          <label for="deviceName">{{'device.name'|translate}}</label>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input appProperNameValidator name="name" pInputText id="deviceName" [(ngModel)]="bluetooth.name" #nameInput="ngModel"/>
        </div>
      </div>

      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" (click)="cancel()"
                  label="{{'cancel'|translate}}"></button>
          <button type="submit" pButton icon="fa-check" (click)="save(bluetoothForm.valid)" label="{{'save'|translate}}"></button>
        </div>
      </p-footer>
    </div>
  </form>
</p-dialog>

<p-confirmDialog icon="fa fa-question-circle" width="425"></p-confirmDialog>

<p-dialog header="{{'information.important'|translate}}" [(visible)]="displayInfoDialog" modal="modal" [responsive]="true" [width]="350"
          [minWidth]="200">
  <div>{{'device.update.hint'|translate}}</div>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="displayInfoDialog=false" label="{{'ok'|translate}}"></button>
  </p-footer>
</p-dialog>
