<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton class="ui-button-secondary"
            id="add-publishedMa"
            [appHasPermission]="'MAP_CREATE'"
            (click)="openDialog(null)"
            label="{{'add'|translate}}"
            icon="fa-plus" iconPos="left"
    ></button>
  </div>
</p-toolbar>

<p-dataTable [loading]="loading" [value]="publishedMaps" styleClass="auto">
  <p-column header="{{'publishedList.floor'|translate}}">
    <ng-template let-publishedMap="rowData" pTemplate="body">
      {{publishedMap.floor.displayName}}
    </ng-template>
  </p-column>
  <p-column header="{{'publishedList.tags'|translate}}">
    <ng-template let-publishedMap="rowData" pTemplate="body">
      <span *ngIf="publishedMap.tags.length === 0"><i><small>{{'publishedList.empty'|translate}}</small></i></span>
      <div *ngFor="let tag of publishedMap.tags">{{tag.shortId}} - {{tag.longId}}</div>
    </ng-template>
  </p-column>
  <p-column header="{{'publishedList.users'|translate}}">
    <ng-template let-publishedMap="rowData" pTemplate="body">
      <span *ngIf="publishedMap.users.length === 0"><i><small>{{'publishedList.empty'|translate}}</small></i></span>
      <div *ngFor="let user of publishedMap.users">{{user.username}}</div>
    </ng-template>
  </p-column>
  <p-column header="{{'th.actions'|translate}}" styleClass="col-button">
    <ng-template let-publishedMap="rowData" let-i="rowIndex" pTemplate="body">
      <button pButton pTooltip="{{'go.to.map'|translate}}" (click)="goTo(publishedMap)" icon="fa-map">
      </button>
      <button pButton pTooltip="{{'go.to.mapEditor'|translate}}" [appHasPermission]="'FLOOR_READ'"
              (click)="goToEditor(publishedMap)" icon="fa-paint-brush">
      </button>
      <button pButton ngClass="editButton" pTooltip="{{'edit'|translate}}" [appHasPermission]="'MAP_UPDATE'"
              (click)="openDialog(publishedMap)" icon="fa-edit">
      </button>
      <button pButton ngClass="deleteButton" pTooltip="{{'remove'|translate}}" [appHasPermission]="'MAP_DELETE'"
              (click)="remove(i)" icon="fa-trash">
      </button>
    </ng-template>
  </p-column>
</p-dataTable>

<app-published-dialog></app-published-dialog>

<p-confirmDialog icon="fa-question-circle" width="425"></p-confirmDialog>
