<h1 [translate]="'publishedList.header'"></h1>
<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton class="ui-button-secondary"
            id="add-publishedMa"
            [appHasPermission]="'MAP_CREATE'"
            (click)="openDialog(null)"
            label="{{'add'|translate}}"
            icon="fa fa-plus" iconPos="left"
    ></button>

  </div>
</p-toolbar>
<!--<ngx-datatable-->
  <!--class="material"-->
  <!--[rows]="rows"-->
  <!--[rowHeight]="'auto'"-->
  <!--[columnMode]="'force'">-->
  <!--<ngx-datatable-column prop="floor">-->
    <!--<template let-column="column" ngx-datatable-header-template>-->
      <!--{{'publishedList.floor'|translate}}-->
    <!--</template>-->
    <!--<template let-value="value" ngx-datatable-cell-template>-->
      <!--{{value.displayName}}-->
    <!--</template>-->
  <!--</ngx-datatable-column>-->

  <!--<ngx-datatable-column prop="tags">-->
    <!--<template let-column="column" ngx-datatable-header-template>-->
      <!--{{'publishedList.tags'|translate}}-->
    <!--</template>-->
    <!--<template let-value="value" ngx-datatable-cell-template>-->
      <!--<span *ngIf="value.length === 0"><i><small>{{'publishedList.empty'|translate}}</small></i></span>-->
      <!--<div *ngFor="let tag of value">{{tag.shortId}} - {{tag.longId}}</div>-->
    <!--</template>-->
  <!--</ngx-datatable-column>-->

  <!--<ngx-datatable-column prop="users">-->
    <!--<template let-column="column" ngx-datatable-header-template>-->
      <!--{{'publishedList.users'|translate}}-->
    <!--</template>-->
    <!--<template let-value="value" ngx-datatable-cell-template>-->
      <!--<span *ngIf="value.length === 0"><i><small>{{'publishedList.empty'|translate}}</small></i></span>-->
      <!--<div *ngFor="let user of value">{{user.username}}</div>-->
    <!--</template>-->
  <!--</ngx-datatable-column>-->

  <!--<ngx-datatable-column>-->
    <!--<template let-column="column" ngx-datatable-header-template>-->
      <!--{{'th.actions'|translate}}-->
    <!--</template>-->
    <!--<template let-row="row" ngx-datatable-cell-template>-->
      <button pButton class="ui-button-success"
              id="enter-map"
              (click)="goToMap(row)"
              pTooltip="{{'enter'|translate}}"
              icon="fa fa-level-down" iconPos="left"
      ></button>
      <button pButton class="ui-button-success"
              id="open-map"
              [appHasPermission]="'FLOOR_READ'"
              (click)="goToEditor(row)"
              pTooltip="{{'open'|translate}}"
              icon="fa fa-external-link"
      ></button>
      <button pButton class="ui-button-warning"
              id="edit-map"
              [appHasPermission]="'MAP_UPDATE'"
              (click)="edit(row)"
              pTooltip="{{'edit'|translate}}"
              icon="fa fa-pencil-square"
      ></button>
      <button pButton class="ui-button-danger"
              id="remove-map"
              [appHasPermission]="'MAP_DELETE'"
              (click)="remove(row)"
              pTooltip="{{'remove'|translate}}"
              icon="fa fa-trash"
      ></button>
    <!--</template>-->
  <!--</ngx-datatable-column>-->
<!--</ngx-datatable>-->
