<span id="accept-buttons" [ngClass]="{'visible' : visible}">
  <button pButton class="ui-button-success"
          id="accepted-decision"
          *ngIf="visible"
          (click)="decide(true)"
          label="{{'yes'|translate}}"
          icon="fa fa-check-circle-o" iconPos="left"
  ></button>
  <button pButton class="ui-button-danger"
          id="reject-decision"
          class="decision negative"
          *ngIf="visible"
          (click)="decide(false)"
          label="{{'no'|translate}}"
          icon="fa fa-exclamation-circle" iconPos="left"
  ></button>
</span>
