<h1>Your building complexes</h1>

<table cellpadding="10" cellspacing="0">
  <tr>
    <th colspan="3">Complex name</th>
  </tr>
  <tr *ngFor="let complex of complexes; let id = index;">
    <td class="complex-name">{{complex.complex}}</td>
    <td>
      <button class="complex-edit-button" (click)="editComplex(complex)" md-mini-fab><i class="material-icons">mode_edit</i></button>
    </td>
    <td>
      <button class="complex-remove-button" (click)="removeComplex(id)" md-mini-fab><i class="material-icons">delete</i></button>
    </td>
  </tr>
</table>

<div class="adding-section">
  <md-input-container class="example-full-width">
    <input id="complex-name-input" type="text" [(ngModel)]="newComplexName" mdInput placeholder="Complex name">
  </md-input-container>

  <div *ngIf="!editMode">
    <button id="complex-add-button" (click)="addComplex()" md-raised-button>Add</button>
  </div>

  <div *ngIf="editMode">
    <button id="complex-edit-save-button" (click)="saveComplex()" md-raised-button>Save</button>
    <button id="complex-edit-cancel-button" (click)="cancelEdit()" md-raised-button>Cancel</button>
  </div>

</div>
