<p-toolbar [appHasPermission]="'COMPLEX_CREATE'">
  <div class="ui-toolbar-group-left">
    <button pButton class="ui-button-primary"
            id="add-complex"
            (click)="openDialog()"
            label="{{'add'|translate}}"
            icon="fa-plus">
    </button>
  </div>
</p-toolbar>

<p-dataTable [loading]="loading" [value]="complexes" styleClass="auto">
  <p-column field="name" header="{{'complex.name'|translate}}"></p-column>
  <p-column header="{{'th.actions'|translate}}" styleClass="col-button">
    <ng-template let-complex="rowData" let-i="rowIndex" pTemplate="body">
      <button
        pTooltip="{{'go.to.buildings'|translate}}" type="button" pButton (click)="goTo(complex)" icon="fa-level-down">
      </button>
      <button
        [appHasPermission]="'COMPLEX_UPDATE'"
        pTooltip="{{'edit'|translate}}" type="button" pButton (click)="openDialog(complex)" icon="fa-edit" class="ui-button-info">
      </button>
      <button
        [appHasPermission]="'COMPLEX_DELETE'"
        pTooltip="{{'remove'|translate}}" type="button" pButton (click)="remove(i)" icon="fa-trash" class="ui-button-danger">
      </button>
    </ng-template>
  </p-column>
</p-dataTable>

<p-dialog [draggable]="false" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [contentStyle]="{ overflow: 'visible' }"
          [width]="800"
          dismissableMask="true" (onHide)="cancel()">
  <p-header>
    {{ dialogTitle | translate }}
  </p-header>
  <form #complexForm="ngForm" novalidate>
    <div class="ui-g" *ngIf="complex">
      <div class="ug-g-12 ui-md-4 ui-lg-4">
        <div class="ui-message ui-messages-error ui-corner-all"
             *ngIf="nameInput.errors?.required && nameInput.touched && nameInput.dirty">
          <i class="fa fa-warning"></i>
          {{'complex.name.required'|translate}}
        </div>
        <div class="ui-message ui-messages-error ui-corner-all"
             *ngIf="nameInput.errors?.properName && nameInput.touched && nameInput.dirty">
          <i class="fa fa-warning"></i>
          {{nameInput.errors?.properName|translate}}
        </div>
      </div>
      <div class="ui-g-12 ui-md-3 ui-lg-3">
        <label for="name">{{'complex.name'|translate}}&nbsp;*</label>
      </div>
      <div class="ui-g-12 ui-md-5 ui-lg-5">
        <input properNameValidator name="name" required [appAutoFocus]="displayDialog" pInputText id="name" [(ngModel)]="complex.name" #nameInput="ngModel"/>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="cancel()" label="{{'cancel'|translate}}"></button>
        <button type="submit" pButton icon="fa-check" (click)="save(complexForm.valid)" label="{{'save'|translate}}"></button>
      </div>
    </p-footer>
  </form>
</p-dialog>

<p-confirmDialog icon="fa fa-question-circle" width="425"></p-confirmDialog>
