<h1 [translate]="'user.header'"></h1>
<p-toolbar>
<div class="ui-toolbar-group-left">
  <button pButton class="ui-button-secondary"
          [appHasPermission]="'USER_CREATE'"
          (click)="createUser()"
          title="{{'add'|translate}}"
          icon="fa fa-plus fa-lg" iconPos="left"
  ></button>
</div>
</p-toolbar>
<table cellpadding="10" cellspacing="0">
  <tr>
    <th [translate]="'user.username'"></th>
    <th [translate]="'user.superuser'"></th>
    <th [translate]="'user.permissionGroups'"></th>
    <th colspan="2" [translate]="'th.actions'"></th>
  </tr>
  <tr *ngFor="let user of users; let i = index">
    <td id="{{user.username}}">{{user.username}}</td>
    <td><md-checkbox [checked]=user.superUser [disabled]="true"></md-checkbox></td>
    <td><span *ngFor="let pG of user.permissionGroups; let isLast=last">{{pG.name}}{{isLast ? '' : ', '}}</span></td>
    <td>
      <button pButton class="ui-button-warning"
              id="edit-user"
              [appHasPermission]="'USER_UPDATE'"
              (click)="editUser(i)"
              title="{{'edit'|translate}}"
              icon="fa fa-pencil-square fa-lg" iconPos="left"
      ></button>
    </td>
    <td>
      <button pButton class="ui-button-danger"
              [appHasPermission]="'USER_DELETE'"
              *ngIf="!user.superUser" (click)="removeUser(i)"
              title="{{'remove'|translate}}"
              icon="fa fa-trash fa-lg" iconPos="left"
      ></button>
    </td>
  </tr>
</table>
