#remaining-devices-list {
  z-index: 11;
  overflow: hidden;
  min-width: 25%;
  top: 20%;
  max-height: 70%;
}

#deviceNameFilter {
  padding: 5px 10px;
  width: 80%;
}

.float-right .device-list-float .material-icons {
  transform: rotate(180deg);
}
