<app-tool-details #toolDetails [ngClass]="listFloatLeft ? 'float-left' :'float-right'">
  <div class="ui-g" id="remaining-devices-list">
    <div *ngIf="!connectingMode" class="ui-g-12">
      <h4 id="remaining-devices-heading">{{'device-list.listOfDevices'|translate}}</h4>
    </div>
    <div *ngIf="connectingMode" class="ui-g-10">
      <h4 id="connecting-mode-heading">{{'device-list.connectingMode'|translate}}</h4>
    </div>
    <div *ngIf="connectingMode" class="ui-g-2 flex">
      <button pTooltip="{{'device-list.tooltip.back'|translate}}" class="v-center pull-right" icon="fa-angle-double-left" pButton
              (click)="connectingMode = !connectingMode"></button>
    </div>

    <ng-container *ngIf="!connectingMode">
      <div class="ui-g-5">
        <div class="ui-inputgroup">
          <input pInputText autofocus autocomplete="off" type="text"
                 id="deviceNameFilter" class="form-control"
                 placeholder="{{'filter.findByAllFields'|translate}}" [(ngModel)]="queryString">
          <button pButton type="button" icon="fa-search" class="ui-button-secondary"></button>
        </div>
      </div>
      <div class="ui-g-3">
        <div id="height-label">{{'device-list.label.height'|translate}} {{heightInMeters}}m</div>
        <p-slider [(ngModel)]="heightInMeters" [step]="1" [min]="0" [max]="15"></p-slider>
      </div>
      <div class="ui-g-4">
        <div class="pull-right">
          <button pTooltip="{{'device-list.tooltip.delete'|translate}}" icon="fa-trash" pButton class="ui-button-danger" (click)="deleteDevice()"
                  [disabled]="!selectedDevice"></button>
          <button pTooltip="{{'device-list.tooltip.connectingMode'|translate}}" icon="fa-link" pButton [ngClass]="{'active': connectingMode}"
                  class="device-list-deselect ui-button-info" (click)="modifyConnections()"></button>
          <button pTooltip="{{'device-list.tooltip.swapFloat'|translate}}" icon="fa-arrow-right" pButton class="device-list-float"
                  (click)="swapFloat()"></button>
        </div>
      </div>

      <div class="ui-datatable ui-widget ui-g-12">
        <div class="ui-datatable-tablewrapper">
          <table>
            <thead class="ui-datatable-thead">
            <tr class="ui-state-default">
              <th>{{'device.shortId'|translate}}</th>
              <th>{{'device.longId'|translate}}</th>
              <th>{{'device.name'|translate}}</th>
            </tr>
            </thead>
            <tbody class="ui-datatable-data ui-widget-content">
            <tr *ngFor="let device of remainingDevices | allFieldsFilter: queryString; let i = index"
                pDraggable="devices" (onDragStart)="dragDeviceStarted(device)" (onDragEnd)="dragDeviceEnded()"
                [ngClass]="{'ui-datatable-odd ui-widget-content': i % 2 === 1, 'ui-datatable-even ui-widget-content': i % 2 === 0}">
              <td>{{device.shortId}}</td>
              <td>{{device.longId}}</td>
              <td>{{device.name}}</td>
            </tr>
            <tr *ngIf="(remainingDevices|allFieldsFilter: queryString).length === 0" class="ui-datatable-even ui-widget-content">
              <td colspan="3">
                {{'device-list.noRemainingDevicesLeft'|translate}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </ng-container>
  </div>
</app-tool-details>
