#remaining-devices-list {
  z-index: 11;
  max-width: 50vw;
}

.float-right .ui-dialog.ui-widget, .float-left .ui-dialog.ui-widget{
  overflow: auto;
  min-width: 25%;
  max-height: 70%;
}

.float-right .ui-dialog.ui-widget {
  right: 0;
  left: auto;
}

.float-right .device-list-float {
  transform: rotate(180deg);
}

#height-label {
  font-size: 0.7em;
  text-align: center;
}
