#remaining-devices-list {
  z-index: 11;
}

#deviceNameFilter {
  padding: 5px 10px;
  width: 80%;
}

.float-right .ui-dialog.ui-widget, .float-left .ui-dialog.ui-widget{
  overflow: auto;
  min-width: 25%;
  max-height: 70%;
}

.float-right .ui-dialog.ui-widget {
  right: 0;
  left: auto;
}

.float-right .device-list-float .material-icons {
  transform: rotate(180deg);
}
