<app-tool-details #toolDetails>
  <div class="ui-g">
    <div class="ui-g-7">
      <div class="ui-inputgroup">
        <input pInputText autofocus autocomplete="off" type="text"
               id="deviceNameFilter" class="form-control"
               placeholder="{{'filter.findByAllFields'|translate}}" [(ngModel)]="queryString">
        <button pButton type="button" icon="fa-search" class="ui-button-secondary"></button>
      </div>
    </div>
    <div class="ui-g-5">
      <div id="height-label">{{'device-list.label.height'|translate}} {{heightInMeters}}m</div>
      <p-slider [(ngModel)]="heightInMeters" [step]="1" [min]="0" [max]="15"></p-slider>
    </div>
    <div class="ui-g-12">
      <h4 *ngIf="activeListType === 0">{{'anchors.header'|translate}}</h4>
      <h4 *ngIf="activeListType === 1">{{'sinks.header'|translate}}</h4>
    </div>

    <div class="ui-datatable ui-widget ui-g-12">
      <div class="ui-datatable-tablewrapper">
        <table (change)="console.log('aaaaa')">
          <thead class="ui-datatable-thead">
          <tr class="ui-state-default">
            <th>{{'device.shortId'|translate}}</th>
            <th>{{'device.longId'|translate}}</th>
            <th>{{'device.name'|translate}}</th>
          </tr>
          </thead>
          <tbody class="ui-datatable-data ui-widget-content">

          <tr appDevicePlacerRow *ngFor="let device of activeList | allFieldsFilter: queryString; let i = index; let last = last"
              pDraggable="devices" (onDragStart)="deviceDragStarted(device)" (onDragEnd)="deviceDragEnded()"
              [ready]="last"
              [ngClass]="{'ui-datatable-odd ui-widget-content': i % 2 === 1, 'ui-datatable-even ui-widget-content': i % 2 === 0}">
            <td>{{device.shortId}}</td>
            <td>{{device.longId}}</td>
            <td>{{device.name}}</td>
          </tr>
          <tr *ngIf="(activeList | allFieldsFilter: queryString).length === 0" class="ui-datatable-even ui-widget-content">
            <td colspan="3">
              {{'device-list.noRemainingDevicesLeft'|translate}}
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-tool-details>
