.dashboard-item-container {
  padding: 0 16px 8px 0;
  box-sizing: border-box;
}

.dashboard-item-container:last-child {
  padding: 0;
}

.dashboard-item {
  box-shadow: 0 2px 4px #A6A8AB;
  border-radius: 10px;
  padding: 5px 10px;
}

.image-link {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.header {
  margin-top: 15px;
}

.empty-thumbnail {
  display: flex;
  align-items: center;
  text-align: center;
  border: #0f6ab4 dashed;
  justify-content: center;
  margin: 10px;
  background: #909090;
  width: 40vw;
  height: 40vw;
}

/* Portrait tablets and down */
@media (max-width: 640px) {
  .empty-thumbnail {
    margin: 5px;
    width: 73vw;
    height: 73vw;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .dashboard-item-container {
    padding: 0 0 8px 0;
  }

  .dashboard-item {
    box-shadow: none;
    padding: 5px 0;
  }

  #real-time-view {
    display: none;
  }

}

