.dashboard-item-container {
  padding: 0 16px 8px 0;
  box-sizing: border-box;
}

.dashboard-item-container:last-child {
  padding: 0;
}

.dashboard-item {
  box-shadow: 0 4px 5px 0 #b8b8b8;
  border: 1px solid rgba(184, 184, 184, 0.3);
  border-radius: 8px;
  padding: 5px 10px;
}
