<div id="heat-map-controller" class="ui-corner-all">
  <div class="header">
    <i class="fa fa-area-chart"></i> {{'heat.map.tool'|translate}}
  </div>
  <div>
    <button pButton pTooltip="{{'path.length'|translate}}"
            icon="fa-arrows-h"
            (click)="toggleSlider()">
    </button>
    <span>{{heatMapWaterfallDisplayTimeInSeconds}} [s]</span>
    <p-slider
      class="ui-g-12"
      *ngIf="pathSliderView"
      pTooltip="{{'path.length'|translate}}"
      [ngModel]="heatMapWaterfallDisplayTime"
      (ngModelChange) = "setPathLength($event)"
      [min]="25" [max]="2500"
    ></p-slider>
  </div>
  <button pButton pTooltip="{{'show.heat.map'|translate}}" icon="fa-play"
          [disabled]="playingAnimation" (click)="toggleHeatAnimation()">
  </button>
  <button pButton pTooltip="{{'stop.heat.map'|translate}}" icon="fa-stop"
          [disabled]="!playingAnimation" (click)="toggleHeatAnimation()">
  </button>
</div>
