<div id="heat-map-controller" class="ui-corner-all">
  <div class="header">
    <i class="fa fa-area-chart"></i> {{'heat.map.tool'|translate}}
  </div>
  <div class="ui-lg-11" >
    <p>{{'set.heat.map.type'|translate}}</p>
      <div><p-radioButton name="heatMap"
              value="{{'hexagonal.heat.map'|translate}}"
              label="{{'hexagonal.heat.map'|translate}}"
              [(ngModel)]="heatMapType"
              [disabled]="playingAnimation"
              inputId="option1"
      ></p-radioButton></div>
      <div><p-radioButton name="heatMap"
              value="{{'square.heat.map'|translate}}"
              label="{{'square.heat.map'|translate}}"
              [(ngModel)]="heatMapType"
              [disabled]="playingAnimation"
              inputId="option2"
      ></p-radioButton></div>
  </div>
  <div class="ui-lg-11">
    <span>{{'heat.gap'|translate}}: {{heatTimeWait}} [s]</span>
    <p-slider
      [ngModel]="heatMapWaterfallDisplayTime"
      (ngModelChange) = "setHeatTimeWait($event)"
      [min]="5" [max]="2000"
    ></p-slider>
  </div>
  <div class="ui-lg-11">
    <span>{{'path.length'|translate}}: {{pathLength}} [s]</span>
    <p-slider
      [ngModel]="heatMapWaterfallDisplayTime"
      (ngModelChange) = "setPathLength($event)"
      [min]="25" [max]="2500"
    ></p-slider>
  </div>
  <div class="ui-lg-11">
    <button pButton pTooltip="{{'show.heat.map'|translate}}" icon="fa-play"
            [disabled]="playingAnimation" (click)="toggleHeatAnimation()">
    </button>
    <button pButton pTooltip="{{'stop.heat.map'|translate}}" icon="fa-stop"
            [disabled]="!playingAnimation" (click)="toggleHeatAnimation()">
    </button>
  </div>
</div>
