<ngForm [formGroup]="rangingTimeConfigForm">
  <div formGroupName="rangingTimeData">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-4 ui-lg-3"></div>
      <div class="ui-g-12 ui-md-3 ui-lg-4">
        <label for="rangingTimeOneSlot">{{'device.config.rangingTime'|translate}}</label>
      </div>
      <div class="ui-g-12 ui-md-5 ui-lg-5">
        <input
          formControlName="rangingTimeOneSlot"
          pInputText
          id="rangingTimeOneSlot" />
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-5 ui-lg-5"></div>
      <div class="ui-g-12 ui-md-7 ui-lg-7">
        <p-radioButton
          (click)="changeType('time')"
          label="Ranging Period"
          name="groupname"></p-radioButton>
        <p-radioButton
          (click)="changeType('measurments')"
          label="Number of ranging"
          name="groupname"></p-radioButton>
      </div>
    </div>

    <ng-container *ngIf="selectedType">
      <p>{{ selectedType }}</p>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-3"></div>
        <div class="ui-g-12 ui-md-3 ui-lg-4">
          <label for="rangingPeriod">{{'device.config.rangingPerion'|translate}}</label>
        </div>
        <div class="ui-g-12 ui-md-5 ui-lg-5" *ngIf="disabled">
          <input
            formControlName="rangingPeriod"
            pInputText
            [disabled]="disabled"
            id="rangingPeriod" />
          {{ disabled }}
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-12 ui-md-4 ui-lg-3"></div>
        <div class="ui-g-12 ui-md-3 ui-lg-4">
          <label for="numberOfMeasurement">{{'device.config.numberOfMeasurments'|translate}}</label>
        </div>
        <div class="ui-g-12 ui-md-5 ui-lg-5">
          <input
            formControlName="numberOfMeasurement"
            pInputText
            id="numberOfMeasurement" />
        </div>
      </div>
    </ng-container>

    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="fa-cogs"
        (click)="resetDevice()"
        label="{{'Default settings'|translate}}"></button>

      <button
        type="button"
        pButton
        icon="fa-share-square"
        (click)="sendToDevice()"
        label="{{'Send to device'|translate}}"></button>
    </div>
  </div>
</ngForm>
