.map-toolbar {
  position: absolute;
  float: right;
  right: 80%;
  width: 8%;
  height: 80%;
  top: 10%;
  background-color: burlywood;
  color: #2b2b2b;
}

ul {
  -webkit-padding-start: 0;
  text-align: center;
}

h2, h3, p {
  text-align: center;
}

li {
  list-style-type: none;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

li:hover {
  background-color: rgba(255, 215, 64, .2);
}
