@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~primeng/resources/primeng.css';
@import '~primeng/resources/themes/omega/theme.css';
@import '~font-awesome/css/font-awesome.css';
@import '~mobile-select/mobile-select.css';

@font-face {
  font-family: 'Flama';
  src: url('assets/fonts/Flama/Flama Regular.otf');
}

body {
  font-family: 'Flama', sans-serif;
  margin: 3px;
}

#breadcrumbs .ui-widget {
  font-family: 'Flama', sans-serif;
}

.error-toast {
  background: #d92020 !important;
}

.no-padding {
  padding: 0;
}

.breadcrumb {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.breadcrumb-item {
  float: left;
  padding: 10px 12px 10px 0;
  display: block;
}

.breadcrumb-item + .breadcrumb-item:before {
  content: '|'
}

.breadcrumb-item a:hover {
  cursor: pointer;
}

.form-control {
  display: block;
  padding: 5px 0;
}

.validation-errors {
  padding: 5px 0 15px 0;
  color: #d92020;
}

.hidden {
  visibility: hidden;
}

table th.col-button, table td.col-button, table th.col-checkbox, table td.col-checkbox {
  width: 1%;
  white-space: nowrap;
  text-align: center;
}

.auto table {
  table-layout: auto;
}

.ui-datatable-odd {
  background: #ffffff;
}

.ui-datatable-even {
  background: #F2F5F9;
}

.ui-inputtext {
  width: 100%;
}

.device-list .ui-picklist-list {
  height: 400px;
}

.device-list .device-details,
.device-list .device-published-details {
  font-size: 0.8em;
}

.device-list .device-published-details {
  margin: auto;
}

.ui-message {
  font-size: 0.8em;
}

#sidebar-menu .ui-sidebar-close {
  display: none;
}

#sidebar-menu .ui-sidebar {
  padding: 0;
}

#sidebar-menu .menu-button {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  height: 75px;
  margin: 0;
  align-items: center;
}

#sidebar-menu .menu-button span:nth-child(1) {
  font-size: small;
}

.ui-breadcrumb {
  color: inherit;
  background: none;
  border: none;
}

.ui-breadcrumb a {
  color: inherit;
}

#menu {
  float: right;
  height: 40px;
  width: 40px;
}

.menu-sidebar-spacer {
  padding: 10px 0 0;
}

.menu-sidebar-spacer:first-of-type {
  padding: 0;
}

app-auth > div {
  width: 400px;
  height: 250px;
  position: absolute;
  top: 50%;
  margin-top: -125px;
  left: 50%;
  margin-left: -200px;
}

.ui-toolbar {
  margin-bottom: 10px;
}

.wizardSink, .wizardAnchor {
  cursor: move;
}

#map {
  cursor: move;
}

.active-tool {
  box-shadow: whitesmoke 2px 2px;
}

.ui-growl {
  bottom: 20px;
  top: auto;
}

.ui-fileupload-content {
  min-height: 150px;
}

.flex {
  display: flex;
}

.flex .v-center {
  align-items: center;
}

.flex .h-center {
  justify-content: center;
}

svg {
  position: relative;
}

.left {
  float: left;
}

.right {
  float: right;
}

.infoWindow-content {
  overflow: auto;
  margin: 0 2px;
}

.infoWindow-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

.infoWindow-content::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.infoWindow-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
  background-color: #6f6f6f;
}

.ui-slider-handle.ui-state-default {
  background: #1765A3;
  border: 0;
}

.ui-slider.ui-widget-content {
  border-color: #95bcda;
}

.ui-inputswitch .ui-inputswitch-off span {
  background-color: #ccc;

}

.ui-inputswitch .ui-inputswitch-on span {
  background-color: #1765A3;
  color: #fff;
}

.ui-inputswitch-handle.ui-state-focus,
.ui-inputswitch.ui-state-focus {
  background: #fff;
  border-color: #d4d4d4;
}

.input-config {
  min-width: 100%;
}

.scrollbar-height .ps__rail-x,
.scrollbar-height .ps__rail-y {
  opacity: 1;
  border: 1px solid #2790b0;
  border-radius: 3px;
}

.scrollbar-height .ps__thumb-x,
.scrollbar-height .ps__thumb-y,
.scrollbar-height .ps__rail-y:focus > .ps__thumb-y,
.scrollbar-height .ps__rail-y:hover > .ps__thumb-y {
  background-color: #2790b0;
}

.scrollbar-height .ps__thumb-y {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.scrollbar-height .ps__thumb-y {
  right: 1px;
}


@media screen and (min-width: 641px) {
  .label-info {
    text-align: right;
    display: block;
  }
}

.tagsSelect {
  min-width: 192px;
}

.muted {
  color: #909090;
}

.text-right {
  text-align: right;
}

svg text{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-link {
  text-decoration: none;
  color: #909090;
}

.menu-link-bold {
  font-weight: bold;
  color: #0a0a0a;
}

#left-panel {
  font-size: 0.8em;
  box-shadow: 0 2px 4px rgba(212, 212, 212, 0.6);
  width: 10%;
}

#left-panel .ui-g > div {
  padding: 0.4em;
}

#left-panel .ui-g > .ui-g-11 {
  padding: 0.4em 0 0.4em 0.7em;
}

#content-panel {
  width: 90%;
  padding-right: 0;
}

#top-panel {
  box-shadow: 0 2px 4px #A6A8AB;
  min-height: 90px;
  align-items: center;
  display: flex;
}

#indoornavi-logo {
  width: 10%;
}

#indoornavi-logo img {
  max-width: 50px;
  padding-left: 6px;
}

#breadcrumbs {
  width: 50%;
}

#mobile-header {
  display: none;
}

#logout {
  width: 15%;
  text-align: right;
  padding-right: .2em;
}

#logout i {
  font-size: 2em;
}

#logout span {
  margin-right: 15px;
  vertical-align: super;
}

#logout a {
  color: #0a0a0a;
  text-decoration: none;
}

#logout a:hover {
  color: #1E96FF;
}

#username {
  padding: .3em;
  width: 25%;
  text-align: right;
  cursor: pointer;
}

#username i.fa-caret-right {
  margin-right: 5px;
  color: #1E96FF;
}

@media screen and (max-width: 930px) {
  #left-panel {
    font-size: 0.6em;
  }
}

.ui-widget-header.no-background {
  border: none;
  background-color: #fff;
}

.ui-breadcrumb-chevron {
  vertical-align: unset;
  font-size: .6em;
}

#mobile-menu {
  display: none;
}

@media (max-width: 1500px) {
  #indoornavi-logo {
    width: 15%;
  }

  #content-panel {
    width: 85%;
  }

  #left-panel {
    width: 15%;
  }

  #username {
    width: 20%;
  }
}

@media (max-width: 720px) {
  #indoornavi-logo {
    width: 20%;
  }

  #content-panel {
    width: 80%;
  }

  #left-panel {
    width: 20%;
  }

  #username {
    width: 15%;
  }

  #logout {
    width: 20%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #left-panel {
    display: none;
  }

  #content-panel {
    width: 100%;
    padding: .5em;
  }

  body {
    font-size: .9em;
  }

  #username {
    display: none;
  }

  #indoornavi-logo {
    display: none;
  }

  #breadcrumbs {
    display: none;
  }

  #mobile-menu {
    display: block;
    font-size: 2em;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 100%;
    margin-top: -80px;
    left: 0;
    background-color: #fff;
  }

  #mobile-menu .first {
    padding-left: 0;
  }

  #mobile-menu .last {
    padding-right: 0;
  }

  #mobile-menu span {
    font-size: .4em;
    display: block;
    padding-top: 5px;
  }

  app-auth > div {
    width: 340px;
    margin-left: -170px;
  }

  #top-panel {
    box-shadow: none;
    min-height: 70px;
  }

  #mobile-header {
    display: block;
    font-size: 1.3em;
    width: 85%;
  }

  #logout span {
    display: none;
  }

  .tagsSelect {
    min-width: auto;
    width: 100%;
  }

  .ui-growl {
    bottom: 70px;
    top: auto;
    left: 50%;
    margin-left: -10em;
  }
}
