/* You can add global styles to this file, and also import other style files */
body{
  display: block;
  font-family: 'Roboto', sans-serif;
  margin: 20px 30px;
}

.error-toast {
  background: #d92020 !important;
}

.breadcrumb {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.breadcrumb-item {
  float: left;
  padding: 10px 12px 10px 0;
  display: block;
}

.breadcrumb-item+.breadcrumb-item:before {
  content: '|'
}

.breadcrumb-item a:hover {
  cursor: pointer;
}

.form-control {
  display: block;
  padding: 5px 0;
}

.validation-errors {
  padding: 5px 0 15px 0;
  color: #d92020;
}

.hidden {
  visibility: hidden;
}

#map-container {
  max-width: 100%;
  max-height: 800px;
  overflow: auto;
}

@import '~primeng/resources/primeng.css';
@import '~primeng/resources/themes/ludvig/theme.css';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~font-awesome/css/font-awesome.css';

#sidebar-menu .ui-sidebar-close {
  display: none;
}

#sidebar-menu .ui-sidebar {
  padding: 0;
}

#sidebar-menu .menu-button {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  height: 100px;
  margin: 0;
  align-items: center;
}

.ui-breadcrumb {
  color: inherit;
  background: none;
  border: none;
}

.ui-breadcrumb a {
  color: inherit;
}
