/* You can add global styles to this file, and also import other style files */
body {
  display: block;
  font-family: 'Roboto', sans-serif;
  margin: 20px 30px;
}

.error-toast {
  background: #d92020 !important;
}

.breadcrumb {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.breadcrumb-item {
  float: left;
  padding: 10px 12px 10px 0;
  display: block;
}

.breadcrumb-item + .breadcrumb-item:before {
  content: '|'
}

.breadcrumb-item a:hover {
  cursor: pointer;
}

.form-control {
  display: block;
  padding: 5px 0;
}

.validation-errors {
  padding: 5px 0 15px 0;
  color: #d92020;
}

.hidden {
  visibility: hidden;
}

#map-container {
  max-width: 100%;
  max-height: 800px;
  overflow: auto;
}

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~primeng/resources/primeng.css';
@import '~primeng/resources/themes/ludvig/theme.css';
@import '~font-awesome/css/font-awesome.css';

table th.col-button, table td.col-button {
  width: 1%;
  white-space: nowrap;
}

table th.col-checkbox, table td.col-checkbox {
  width: 1%;
  white-space: nowrap;
  text-align: center;
}

.auto table {
  table-layout: auto;
}

.ui-datatable-odd {
  background: #ffffff;
}

.ui-datatable-even {
  background: #F2F5F9;
}

.ui-inputtext {
  width: 100%;
}

.device-list .ui-picklist-list {
  height: 400px;
}

.device-list .ui-picklist-listwrapper button {
  display: inline-block;
  float: right;
}

.device-list .device-details {
  font-size: 0.8em;
}

.ui-message {
  font-size: 0.8em;
}

#sidebar-menu .ui-sidebar-close {
  display: none;
}

#sidebar-menu .ui-sidebar {
  padding: 0;
}

#sidebar-menu .menu-button {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  height: 75px;
  margin: 0;
  align-items: center;
}

#sidebar-menu .menu-button span:nth-child(1) {
  font-size: small;
}

.ui-breadcrumb {
  color: inherit;
  background: none;
  border: none;
}

.ui-breadcrumb a {
  color: inherit;
}

#menu {
  float: right;
  height: 40px;
  width: 40px;
}

app-auth > div {
  width: 400px;
  height: 250px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 25px;
  right: 0;

  margin: auto;
}

.ui-toolbar {
  margin-bottom: 10px;
}
