#hint-bar {
  position: absolute;
  height: 30px;
  width: 70%;
  background-color: lightgray;
  padding: 5px;
  border: 1px;
  top: 100%;
  margin-top: -30px;
  left: 20%;
  box-sizing: border-box;
  font-size: 80%;
}

