<p-confirmDialog></p-confirmDialog>
<p-toolbar>
  <div class="left">
    <button pButton class="ui-button-secondary"
            id="change-tags-view"
            (click)="toggleView()"
            label="{{view|translate}}"
            icon="fa-eye" iconPos="left">
    </button>
    <div style="display:inline-block">{{'filter.by'|translate}} </div>
    <p-selectButton [options]="filterOptions" [(ngModel)]="selectedFilterValues" multiple="multiple"></p-selectButton>
    <button class="ui-button-secondary" type="button" (click)="clear()" pButton icon="fa-ban" label="{{'reset.filter'|translate}}"></button>
  </div>
</p-toolbar>

<p-orderList *ngIf="view === 'list.view'" [value]="tags" [listStyle]="{'height':'800px'}"
             [responsive]="true" header="{{'tags.header'|translate}}"
             filterBy="{{selectedFilterValues|parseArrayToStringCommaSeparated}}"
             filterPlaceholder="{{'filter.by'|translate}} {{selectedFilterValues|parseArrayToStringCommaSeparatedTranslated}}"
             (onSelectionChange)="click($event.value[0].id)"
             (onFilterEvent)="logger($event.value)"
>
  <ng-template let-tag pTemplate="item">
    <div class="ui-helper-clearfix">
      <div style="display:inline-block">{{'id'|translate|uppercase}}: {{tag.id}}</div>
      <div style="display:inline-block">{{'name'|translate|uppercase}}: {{tag.name}}</div>
      <div style="display:inline-block">{{'complex'|translate|uppercase}}: {{tag.complex}}</div>
      <div style="display:inline-block">{{'building'|translate|uppercase}}: {{tag.building}}</div>
      <div style="display:inline-block">{{'floor'|translate|uppercase}}: {{tag.floor}}</div>
      <div style="display:inline-block">{{'group'|translate|uppercase}}: {{tag.group}}</div>
    </div>
  </ng-template>
</p-orderList>

