
<form #deviceForm="ngForm" novalidate>
  <div class="form-control">
    <md-input-container>
      <input
        required pattern="[\d]+"
        id="device-short-id" name="shortId" type="text" #shortId="ngModel" [(ngModel)]="device.shortId" mdInput placeholder="{{'device.shortId'|translate}}">
      <md-hint>
        <span [hidden]="shortId.valid || (shortId.pristine && !deviceForm.submitted)">
          <small *ngIf="deviceForm.hasError('required', ['shortId'])">
            {{'device.shortId.required'|translate}}
          </small>
          <small *ngIf="deviceForm.hasError('pattern', ['shortId'])">
            {{'device.shortId.mustBeNumber'|translate}}
          </small>
        </span>
      </md-hint>
    </md-input-container>
  </div>

  <div class="form-control">
    <md-input-container>
      <input
        required pattern="[\d]+"
         id="device-long-id" name="longId" type="text" #longId="ngModel" [(ngModel)]="device.longId" mdInput placeholder="{{'device.longId'|translate}}">
      <md-hint>
        <span [hidden]="longId.valid || (longId.pristine && !deviceForm.submitted)">
          <small *ngIf="deviceForm.hasError('required', ['longId'])">
            {{'device.longId.required'|translate}}
          </small>
          <small *ngIf="deviceForm.hasError('pattern', ['longId'])">
            {{'device.longId.mustBeNumber'|translate}}
          </small>
        </span>
      </md-hint>
    </md-input-container>
  </div>

  <div class="form-control">
    <md-input-container>
      <input id="device-name" name="name" #name="ngModel" type="text" [(ngModel)]="device.name" mdInput placeholder="{{'device.name'|translate}}">
    </md-input-container>
  </div>

  <button pButton class="ui-button-success"
          id="save-device" (click)="save(deviceForm.valid)"
          label="{{'save'|translate}}"
          icon="fa fa-floppy-o" iconPos="left"
  ></button>
</form>
