<template>
  <h3>{{title}}</h3>
  <md-spinner mode="indeterminate" color="accent"></md-spinner>
  <!--<span>
    <div class="dialog-select">
      <md-select *ngIf="!isLoading" placeholder="{{'select.sink'|translate}}" [(ngModel)]="selected.sink" floatPlaceholder="never">
        <md-option *ngFor="let sink of sinks.toArray()" [value]="sink">{{ sink.name }} id:{{ sink.shortId }}</md-option>
      </md-select>
    </div>
    <div class="dialog-action">
      <button *ngIf="!selected.sink" class="dialog-cancel-button" (click)="wizardCanceled()" md-button>{{'cancel'|translate}}</button>
      <button *ngIf="selected.sink" class="dialog-place-button" (click)="placeSink(selected.sink)" md-raised-button>{{'go.to.map'|translate}}</button>
    </div>
  </span>-->
</template>

