<button class="wizard-button" [ngClass]="{'active-tool' : active}" (click)="emitToggleActive()" md-mini-fab
        md-tooltip="{{'wizard.tooltip'|translate}}" mdTooltipPosition="left">
  <i class="material-icons">device_hub</i>
</button>
<app-first-step #firstStep (clearView)="wizardStopped($event)"
                (nextStepIndex)="wizardNextStep($event)"></app-first-step>
<app-second-step #secondStep (clearView)="wizardStopped($event)"
                 (nextStepIndex)="wizardNextStep($event)"></app-second-step>
<app-third-step #thirdStep (clearView)="wizardStopped($event)"
                (nextStepIndex)="wizardNextStep($event)"></app-third-step>

<template>
  <span class="wizard-dialog" *ngIf="!wizardCompleted">
    <h3 class="wizard-not-complete">{{'basic.configuration.not.complete'|translate}}</h3>
    <span>
    <div class="dialog-action">
      <button class="warning-back-button" (click)="backToWizard()"
              md-raised-button>{{'back.to.wizard'|translate}}</button>
      <button class="warning-exit-button" (click)="wizardStopped(true)"
              md-raised-button>{{'exit.wizard'|translate}}</button>
    </div>
    </span>
  </span>
  <span class="wizard-dialog" *ngIf="wizardCompleted">
    <h3 class="wizard-complete">{{'basic.configuration.complete'|translate}}</h3>
    <!--<h4>{{'left.over.anchors?'|translate}}</h4>-->
    <span>
      <div class="dialog-action">
        <!--<button class="dialog-wizard-button" (click)="manualAnchors()" md-raised-button>{{'set.manual'|translate}}</button>
        <button class="dialog-wizard-button" (click)="wizardAnchors()" md-raised-button>{{'let.wizard.place'|translate}}</button>-->
        <button class="dialog-exit-button" (click)="dialogRef.close()" md-raised-button>{{'close'|translate}}</button>
      </div>
    </span>
  </span>
</template>

