md-spinner, .dialog-cancel-button, .dialog-place-button, md-select {
  margin: 0 auto;
}

.searching_info {
  display: inline-block;
  line-height: 40px;
  margin-right: 5px;
  padding: 5px 10px;
  vertical-align: top;
  max-width: 175px;
}

#select-spinner {
  display: inline-block;
  position: absolute;
  right: 0;
  max-height: 40px;
  max-width: 40px;
}

.dialog-cancel-button {
  background-color: firebrick;
}

.dialog-place-button {
  background-color: forestgreen;
}

.dialog-action, .dialog-select {
  text-align: center;
  margin-top: 10px;
  padding-top: 5px;
}
