
<template>
  <h3>{{title|translate}}</h3>
  <md-spinner *ngIf="isLoading" mode="indeterminate" color="warn"></md-spinner>
  <span>
    <div class="dialog-select" *ngIf="!isLoading">
      <md-select placeholder="{{'select.data'|translate}}" [(ngModel)]="data" floatPlaceholder="never">
        <md-option *ngFor="let data of socketData.toArray()" [value]="data">id:{{ data.shortId }}{{ data.anchorId }}</md-option>
        <md-spinner id="select-spinner" *ngIf="!isLoading" mode="indeterminate" color="accent"></md-spinner>
      </md-select>
    </div>
    <div class="dialog-action">
      <button *ngIf="isLoading" class="dialog-cancel-button" (click)="closeWizard()" md-button>{{'cancel'|translate}}</button>
      <button *ngIf="!isLoading" class="dialog-place-button" (click)="placeOnMap(data)" [disabled]="!data" md-raised-button>{{'go.to.map'|translate}}</button>
    </div>
  </span>
</template>

